<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- =======================================================
	* ERP 사용 회사 CRUD 하는 맵퍼
	* @author ERP 관리자 개발팀 표하연
	* @since 2025.02.17
	* @version 1.0
	* @see
	*
	* <pre>
	* << 개정이력(Modification Information) >>
	*
	*   수정일      수정자          수정내용
	*  ======    =======    ==============================
	*  2025.02.17  표하연          최초생성
	*  2025.02.18  표하연          기간결제에 따른 추가처리
	*
	*  </pre>
======================================================== -->
<mapper namespace="com.beauty1nside.erp.mapper.ErpUserMapper">

	<!-- 
     * 회사 구독 정보를 내보냄
     *
     * @param int
     * @return erpSubscriptionInfoListDTO
	-->
	<select id="sublist" resultType="erpSubscriptionInfoListDTO">
		select *
		from erp_subscription_info_list
		where company_num = #{companyNum}
	</select>
	
	<!-- 
     * 회사 계약 상태 여부를 내보냄
     *
     * @param int
     * @return erpSubscriptionInfoListDTO
	-->
	<select id="subcontact">
		select count(*)
		from erp_contract_document
		where company_num = #{companyNum}
	</select>
	
	<!-- 
     * 회사 회원 인원수를 내보냄
     *
     * @param int
     * @return int
	-->
	<select id="hrlist">
		select count(*)
		from hr_employee
		where company_num = ${companyNum}
	</select>
	
	<!-- 
     * 구독목록(결제헤더)를 등록한다 [ 최초등록 ]
     *
     * @param map
     * @return int
	-->
	<insert id="prosubscriptionlist" parameterType="map">
		INSERT INTO erp_subscription_list VALUES
		(erp_subscrpt_seq.nextval, #{companyNum}, #{employeeNum}, DEFAULT, #{paymethod}, null, #{price}, 'ES04', sysdate)
	</insert>
	
	
	<!-- 
     * 구독목록(결제헤더)의 마지막 결제 기본키를 가져온다
     *
     * @param map
     * @return int
	-->
	<select id="lastpaykey" resultType="int" parameterType="map">
		SELECT subscription_num 
		FROM (
		    select subscription_num
		    from erp_subscription_list
		    where state = 'ES04'
		    and company_num = #{companyNum}
		    and employee_num = #{employeeNum}
		    and subscription_mean = #{paymethod}
		    and subscription_amount = #{price}
		    order by subscription_num desc
		) 
		WHERE ROWNUM = 1
	</select>
	
	<!-- 
     * 구독목록 결제 옵션 정보를 저장한다
     *
     * @param int
     * @param int
     * @return int
	-->
	<insert id="prosubscriptiontail">
		INSERT INTO erp_subscription_tail VALUES
		(erp_subscrpt_tail_seq.nextval, #{subscriptionNum}, #{subscriptionOptionNum})
	</insert>
	
	<!-- 
     * 구독 옵션 정보를 가져온다 단일 레코드
     *
     * @param int
     * @return ErpSubOptionDTO
	-->
	<select id="lastoptionlist" resultType="ErpSubOptionDTO" >
		select *
		from erp_subscription_option
		where subscription_option_num = ${subscriptionOptionNum}
	</select>
	
	<!-- 
     * 회사가 현재 구독중인 정보 확인
     * 위에 동일한거 있는데 쿼리랑 파라미터 수정할 시간에 한페이지라도 더나가려고
     * 졸업후 작업으로 놔둠
     *
     * @param int
     * @param int
     * @param int
     * @return erpSubscriptionInfoListDTO
	-->
	<select id="subinfo" resultType="erpSubscriptionInfoListDTO">
		select *
		from erp_subscription_info_list
		where company_num = #{companyNum}
		and subscription_name_num in ( #{subnamenum1}, #{subnamenum2} )
	</select>
	
	<!-- 
     * 구독정보를 업데이트 한다 (기간구독)
     *
     * @param erpSubscriptionInfoListDTO
     * @return int
	-->
	<update id="prosubupdate" parameterType="erpSubscriptionInfoListDTO">
		update erp_subscription_info_list
		<set>
	    	subscription_update_date = sysdate,
	        subscription_end_date = #{subscriptionEndDate},
	        subscription_option_num = #{subscriptionOptionNum},
	        subscription_name_num = #{subscriptionNameNum},
	        subscription_form = #{subscriptionForm},
	    </set>
	    WHERE subscription_num = #{subscriptionNum}
	</update>
	
	<!-- 
     * 구독정보를 인서트 한다 (기간구독)
     *
     * @param erpSubscriptionInfoListDTO
     * @return int
	-->
	<insert id="prosubinsert" parameterType="erpSubscriptionInfoListDTO">
		INSERT INTO erp_subscription_info_list VALUES
		( 
			erp_subscrpt_info_seq.nextval, 
			#{companyNum}, 
			DEFAULT, 
			#{subscriptionNameNum}, 
			#{subscriptionOptionNum}, 
			#{subscriptionEndDate}, 
			sysdate
		)
	</insert>
	
	<!-- 
     * 그룹웨어 옵션 정보를 불러온다
     *
     * @param int
     * @return int
	-->
	<select id="gpoptioninfo">
		select subscription_period
		from erp_subscription_info_list s
		left join erp_subscription_option o
		on s.subscription_option_num = o.subscription_option_num
		where s.subscription_name_num in (2,7)
		and s.company_num = #{companyNum}
	</select>

</mapper>