<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.beauty1nside.accnut.mapper.AssetMapper">
	<select id="info" resultType="com.beauty1nside.accnut.dto.AssetDTO" parameterType="String">
		SELECT assets_code, assets_name, section, financial_institution, finance_information, owner, amount, register_date, quantity, fixtures_amount
		FROM accnut_assets
		WHERE assets_code = #{assetsCode}
	</select>

	<select id="list" resultType="com.beauty1nside.accnut.dto.AssetDTO" parameterType="com.beauty1nside.accnut.dto.AssetSearchDTO">
		SELECT assets_code, assets_name, section, financial_institution, finance_information, owner, amount, register_date
		FROM (SELECT /*+INDEX_DESC(accnut_accets pk_accnut_accets)*/ rownum rn, assets_code, assets_name, fn_get_cmmn_name(section) as section, fn_get_cmmn_name(financial_institution) as financial_institution, finance_information, owner, NVL(amount,0) as amount, register_date
		      FROM accnut_assets
		<![CDATA[
		      WHERE rownum <= #{end} 
		      AND 
		]]>
		<include refid="searchInfo"></include>
			  ) 
		WHERE rn >= #{start}
	</select>
	
	<select id="count" parameterType="com.beauty1nside.accnut.dto.AssetSearchDTO">
		SELECT COUNT(assets_code)
		FROM accnut_assets
		<where>
			<include refid="searchInfo"></include>
		</where>
	</select>

	<sql id="searchInfo">
		company_num = #{companyNum}
		<if test="assetsName != null and ! assetsName.equals('')">
			AND assets_name Like '%' || #{assetsName} || '%'
		</if>
		<if test="section != null and ! section.equals('')">
			AND section = #{section}
		</if>
		<if test="financialInstitution != null and ! financialInstitution.equals('')">
			AND financial_institution = fn_get_cmmn_code( #{financialInstitution} )
		</if>
	</sql>








</mapper>