<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.beauty1nside.accnut.mapper.DebtMapper">
	<select id="info" resultType="com.beauty1nside.accnut.dto.DebtDTO">
		SELECT debt_code, debt_name, section, creditor, amount, interest, time_limit, prearrangement_due_date, register_date
		FROM accnut_debt
		WHERE debt_code = #{debtCode}
	
	</select>
	<select id="list" resultType="com.beauty1nside.accnut.dto.DebtDTO" parameterType="com.beauty1nside.accnut.dto.DebtSearchDTO">
		SELECT debt_code, debt_name, section, creditor, amount, interest, register_date, prearrangement_due_date
		FROM (SELECT /*+INDEX_DESC(accnut_debt pk_accnut_debt)*/ rownum rn, debt_code, debt_name, fn_get_cmmn_name(section) as section, creditor, amount, interest, time_limit, prearrangement_due_date, register_date
		FROM accnut_debt
		<![CDATA[
		      WHERE rownum <= #{end} 
		      AND 
		]]>
		<include refid="searchInfo"></include>
			  ) 
		WHERE rn >= #{start}
	</select>
	<select id="count">
		SELECT COUNT(debt_code)
		FROM accnut_debt
		<where>
			<include refid="searchInfo"></include>
		</where>
	
	</select>
	<sql id="searchInfo">
		company_num = #{companyNum}
		<if test="debtName != null and ! debtName.equals('')">
			AND debt_name Like '%' || #{debtName} || '%'
		</if>
		<if test="section != null and ! section.equals('')">
			AND section = #{section}
		</if>
		<if test="creditor != null and ! creditor.equals('')">
			AND creditor LIKE '%' || #{creditor} || '%'
		</if>
		<!-- 미지급금 처리 조회 -->
		<if test="prearrangementDueDate != null and ! prearrangementDueDate.equals('')">
			AND TO_CHAR(prearrangement_due_date, 'yyyy-mm-dd') = #{prearrangementDueDate}
		</if>
		<if test="amount != null">
			AND amount >= #{amount}
		</if>
		
	</sql>
	
	<insert id="insert" parameterType="com.beauty1nside.accnut.dto.DebtDTO">
		INSERT INTO accnut_debt(debt_code, section, debt_name, creditor, amount, register_date, company_num
		<if test="prearrangementDueDate != null and ! prearrangementDueDate.equals('')"></if>	
			, prearrangement_due_date		
		<if test="interest != null and interest != 0"></if>
			, interest		
		<if test="timeLimit != null and ! timeLimit.equals('')"></if>
			, time_limit
		)
		VALUES (accnut_debt_seq.nextval, #{section}, #{debtName}, #{creditor}, #{amount}, #{registerDate}, #{companyNum}
		<if test="prearrangementDueDate != null and ! prearrangementDueDate.equals('')"></if>
			, #{prearrangementDueDate}
		<if test="interest != null and interest != 0"></if>
			, #{interest}
		<if test="timeLimit != null and ! timeLimit.equals('')"></if>
			, #{timeLimit}
		)
	
	</insert>
	

</mapper>