<!DOCTYPE html>
<html
        layout:decorate="~{layouts/layout}"
        lang="en"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns="http://www.w3.org/1999/xhtml"
>
<body layout:fragment="content">
<input type="hidden" id="sessionEmployeeNum" th:value="${session.employeeNum}"/>

<div class="container mt-4">
    <!-- 결재 조회 -->
    <div class="card p-4 shadow-sm">
        <h5 class="mb-3">결재 조회</h5>
        <div class="row g-2 mb-3">
            <div class="col-md-3">
                <label class="label-search col-4" for="documentType">요청 구분</label>
                <select name="documentType" id="documentType" class="col-8 input-box">
                    <option value="" selected>선택</option>
                </select>
            </div>
            <div class="col-md-3">
                <span class="label-search col-4">요청 날짜</span>
                <input type="date" id="inApprovalRequestDateStart" class="col-8 input-box"/>~
                <input type="date" id="inApprovalRequestDateEnd" class="col-8 input-box"/>
            </div>
            <div class="col-md-3">
                <label class="label-search col-4" for="display_amount">표시수량</label>
                <select name="display_amount" id="display_amount" class="col-8 input-box" onchange="changeDisplay()">
                    <option value="5">5</option>
                    <option value="10" selected>10</option>
                    <option value="20">20</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                </select>
            </div>
            <div class="col-md-3">
                <label class="form-label">상태</label>
                <div class="d-flex">
                    <button class="btn btn-outline-primary me-2 filter-btn" data-status="대기중">대기중</button>
                    <button class="btn btn-outline-danger me-2 filter-btn" data-status="반려">반려</button>
                    <button class="btn btn-outline-success filter-btn" data-status="승인">승인</button>
                </div>
            </div>
            <div class="row btn-box">
                <button type="button" class="btn btn-primary col-1" onclick="search()">검색</button>
                <button type="button" class="btn btn-secondary col-1" onclick="reset()">초기화</button>
            </div>
        </div>

        <!-- 그리드 -->
        <div id="table-container">
            <div id="grid"></div>
            <div id="pagination" class="tui-pagination"></div>
        </div>
    </div>

    <!-- 결재 요청 -->
    <div class="card p-4 shadow-sm mt-4">
        <h5 class="mb-3">결재 요청</h5>
        <div class="row">
            <div class="col-md-6">
                <select class="form-select" id="requestType">
                    <option selected>요청 구분</option>
                    <option value="근태 수정">근태 수정</option>
                    <option value="경력증명서 요청">경력증명서 요청</option>
                    <option value="부대 비용 요청">부대 비용 요청</option>
                </select>
            </div>
            <div class="col-md-6">
                <button class="btn btn-outline-primary w-100" id="requestApproval">결재서 작성</button>
            </div>
        </div>
    </div>
</div>

<script>

</script>
</body>
</html>

