<!DOCTYPE html>
<html 
lang="en"
layout:decorate="~{layouts/layout}" 
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>

<head>

  <style>
  	#custom-container{
		background-color: #f8f9fa; /* 연한 회색 배경 */
		padding: 20px;
		border-radius: 10px;
		box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* 박스 그림자 */
		margin-bottom: 20px;
	
	}
	.grid-row-selected {
    	background-color: #e86f6f;  
	}
	
  </style>

</head>
<body layout:fragment="content">
  <!-- 페이지 내용 시작 -->
	<div>
		<h1>출고 관리</h1>
		<div class="row">
        	<div class="col-md-12  grid-margin stretch-card">
            	<div class="card">
              		<div class="card-body">
                		<h4 class="card-title">출고 준비중인 주문 목록</h4>
                		<p class="card-description">출고 처리할 주문 선택</p>
                		<div id="orderList"></div>
               		 	<div id="pagination" class="tui-pagination"></div>
              		</div>
            	</div>
            	
          	</div>
          	

        </div>
        <div class="row">
          	<div class="col-md-6  grid-margin stretch-card">
            	<div class="card">
              		<div class="card-body">
                		<h4 class="card-title">주문 상세</h4>
                		<p class="card-description">출고 하기전에 본사 창고에서 해당 상품을 LOT별로 매칭하여 연결</p>
                		<div id="deliDetail"></div>
               		 	<div id="pagination" class="tui-pagination"></div>
               		 	
              		</div>
            	</div>
            	
          	</div>
          	<div class="col-md-6 grid-margin stretch-card">
			    <div class="card">
			        <div class="card-body">
			        	<h4 class="card-title">출고할 상품 LOT 정보</h4>
			            <p class="card-description">LOT연결을 추가하거나 수정, 삭제를 할 수 있다. </p>
			         	<div class="d-flex justify-content-end gap-3 mt-3">
			                <button type="button" class="btn btn-primary px-4" id="registerButton">추가</button>
			                <button type="button" class="btn btn-danger px-4" id="deleteButton">삭제</button>
			            </div>
			            
			            <div id="deliLotDetail"></div>
			            <div id="pagination" class="tui-pagination"></div>
			            
			        </div>
			    </div>
			</div>

        </div>
        <div class="row">
          	<div class="d-flex justify-content-center gap-3 mt-3">
			            <button type="button" class="btn btn-primary px-4" id="confirmButton">상품 출고 확정</button>
			</div>
        </div>
	</div>

<!-- 모달들  (모달ID, 모달사이즈(modal-xl,...), 모달제목, 모달내용 HTML, 모달풋터 HTML)-->
      
       
    <div th:include="bsn/modal/bsnModalTemplate :: ModalTemplate (
						    	'registerModal', 
						    	'modal-lg', 
						    	'LOT 연결 추가', 
						    	'bsn/modal/bsnLotRegister', 
						    	'bsn/modal/bsnModalFooter'
						    )">
     </div>
     
      
     <div th:include="bsn/modal/bsnModalTemplate :: ModalTemplate(
						    	'deleteModal', 
						    	'modal-md', 
						    	'LOT 연결 삭제', 
						    	'bsn/modal/bsnLotDelete', 
						    	'bsn/modal/bsnModalFooter')">
     </div>
     
     <div th:include="bsn/modal/bsnModalTemplate :: ModalTemplate(
						    	'confirmModal', 
						    	'modal-md', 
						    	'출고 확정', 
						    	'bsn/modal/bsnDlivConfirm', 
						    	'bsn/modal/bsnModalFooter')">
     </div>
  <!-- 세션정보 -->
  	  <script th:inline="javascript">
	  	let companyNum = [[${session.companyNum}]];
	  	//let employeeNum = [[${session.employeeNum}]];
	  </script>    
	   
<script>
var Grid = tui.Grid;

tui.Grid.applyTheme('default', {
	  cell: {
	    
	    selectedHead: {
	      background: '#0b3f73',
	    },
	    
	  }
	});

let selectDlivyId;
var selectedRow = null; // 선택된 상품 상세


document.addEventListener('DOMContentLoaded', function() {
    search();  // DOMContentLoaded 이벤트 후 자동으로 검색 실행
});


    

const OrderListDataSource = {
		api: {
			readData: { url: '/bsn/rest/deli', method: 'GET', initParams: { page: 1 }},
		},
		contentType: 'application/json'
};


//상품 테이블
const orderList = new Grid({
		el: document.getElementById('orderList'), // 컨테이너 엘리먼트
		pageOptions: {
		useClient: false,
		perPage: 10,
	},
	columns: [ 
		{ header : "출고ID", name : "deliveryId", sortable : true},
		{ header : "주문ID", name : "orderId", sortable : true},
		{ header : "주문명", name : "orderName", width: 'auto',  sortable : true},
		{ header : "지점코드", name : "branchOfficeId"},
		{ header : "담당자번호", name : "employeeNum"},
		// { header : "회사번호", name : "companyNum"},
		{ header : "주문일", name : "orderDate", formatter: ({ value }) => formatDate(value, 'order'), width: 'auto', sortable : true},
		{ header : "납기일", name : "dueDate", formatter: ({ value }) => formatDate(value, 'due'), width: 'auto', sortable : true},
		{ header : "출고일", name : "delivaryDate", formatter: ({ value }) => formatDate(value, 'due'), width: 'auto', sortable : true},
		{ header : "출고상태", name : "deliveryStatus", formatter: ({ value }) => formatStatus(value), sortable : true},
		{ header : "비고", name : "remark", width: 'auto'},
	],
	data: OrderListDataSource
});

//그리드 날짜 형식 변경(데이터 수정X, 표기만)
function formatDate(dateString, type) {
    if (!dateString) return ''; // 데이터가 없으면 빈 문자열 반환
    const date = new Date(dateString);
    if (isNaN(date)) return dateString; // 날짜 변환이 실패하면 원본 유지

    return type === 'order' 
        ? date.toLocaleDateString('ko-KR', { year: 'numeric', month: 'long', day: 'numeric' }) // "2025년 2월 17일"
        : date.toLocaleDateString('ko-KR', { year: 'numeric', month: 'long', day: 'numeric' }); // "02/17 (월)"
}

//상태여부 표기 변경
function formatStatus(status) {
    if (status === null || status === undefined) return ''; // 데이터가 없으면 빈 문자열 반환
    switch(status){
    case "DS01":
    	return "출고준비중";
    case "DS02":
    	return "출고완료";
    case "DS03":
    	return "출고취소";
    	
    case 0 :
    	return "요구수량미달";
    case 1 :
    	return "요구수량충족";
    }
    
    	
}
function search(){
	//let selectedOption = document.querySelector('input[name="optionsRadios"]:checked').value; // 라디오 버튼 선택 값
    //let startDate = document.getElementById("startDate").value; // 시작 날짜
    //let endDate = document.getElementById("endDate").value; // 끝 날짜
    //let selectedBhf = document.getElementById("selectBhf").value; // 발주지점 선택 값
    
    //console.log(selectedOption, startDate, endDate, selectedBhf);
    
    let params = {
    		//"companyNum": companyNum,
    		//"deteOption": selectedOption,
            //"startDate": startDate,
            //"endDate": endDate,
            //"branch": selectedBhf,
            "companyNum": companyNum
            
    };
    console.log("검색 조건:", params);
    
    orderList.readData(1, params, true);
}


////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

//출고 클릭 시 상세 불러오기
orderList.on('click', (ev) => {
	
    const rowKey = ev.rowKey; // 클릭한 행의 키
    if (rowKey === null || rowKey === undefined) {
        return;
    }
    
    //console.log(rowKey);
    const rowData = orderList.getRow(rowKey); // 클릭한 행 데이터 가져오기
    selectDlivyId = rowData.deliveryId;
    
    console.log("선택한 출고(주문) : " + rowData.deliveryId);
    
	 // 주문 상세, LOT 상세 초기화
    deliveryDetailGrid.resetData([]);
    deliveryLotDetailGrid.resetData([]);
    selectedRow = null;
    
    
    if (rowData && rowData.deliveryId) {
    	loadDeliveryDetail(rowData.deliveryId); // 상세 정보 불러오기
    }
});

//불러오는 함수
function loadDeliveryDetail(deliveryId) {
	if (!deliveryId) {
        console.warn("유효하지 않은 주문 Id입니다.");
        return;
    }
	
    fetch(`/bsn/rest/deli/detail?deliveryId=${deliveryId}`)
    	
        .then(response => {
	            if (!response.ok) throw new Error(`HTTP 오류! 상태: ${response.status}`);
	            return response.json();
	     })
	     
        .then(data => {
            if (data && data.data && data.data.contents) {
            	const detailData = data.data.contents; // 상세 데이터 저장
            	

                deliveryDetailGrid.resetData(detailData);
            } else {
                console.warn("상세 데이터가 없습니다.");
                //orderDetailGrid.resetData([]); // 빈 배열로 초기화
            }
        })
        .catch(error => console.error('Error fetching order detail:', error));
}

//상세 그리드 형식
const deliveryDetailGrid = new Grid({
el: document.getElementById('deliDetail'),
columns: [
    { header: "상품명", name: "goodsName", 
    //	width: 'auto' ,	
    },
    { header: "옵션명", name: "optionName", },
    //{ header: "옵션코드", name: "optionCode",  },
    { header: "요구수량", name: "deliveryDemandQnt",  },
    { header: "출고대기총수량", name: "deliveryTotalQnt",  },
    { header: "출고준비여부", name: "sufficiencyStatus", formatter: ({ value }) => formatStatus(value), sortable : true},

],
pageOptions: {
    useClient: false,
    perPage: 5
}
});

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

//출고 클릭 시 LOT상세 불러오기
deliveryDetailGrid.on('click', (ev) => {
	
    const rowKey = ev.rowKey; // 클릭한 행의 키
    selectedRow = deliveryDetailGrid.getRow(rowKey);
    if (rowKey === null || rowKey === undefined) {
        return;
    }
    
    const rowData = deliveryDetailGrid.getRow(rowKey); // 클릭한 행 데이터 가져오기
    console.log("선택한 출고 상세 ID : " + rowData.deliveryDetailId);
    
 	// LOT 상세 초기화
    deliveryLotDetailGrid.resetData([]);
 	
    if (rowData && rowData.deliveryDetailId) {
    	loadDeliveryLotDetail(rowData.deliveryDetailId); // 상세 정보 불러오기
    }
});

//불러오는 함수
function loadDeliveryLotDetail(deliveryDetailId) {
	if (!deliveryDetailId) {
        console.warn("유효하지 않은 주문 Id입니다.");
        return;
    }
	
    fetch(`/bsn/rest/deli/lot/detail?deliveryDetailId=${deliveryDetailId}`)
    	
        .then(response => {
	            if (!response.ok) throw new Error(`HTTP 오류! 상태: ${response.status}`);
	            return response.json();
	     })
	     
        .then(data => {
            if (data && data.data && data.data.contents) {
            	const detailData = data.data.contents; // 상세 데이터 저장
            	
                deliveryLotDetailGrid.resetData(detailData);
            } else {
                console.warn("상세 데이터가 없습니다.");
                //orderDetailGrid.resetData([]); // 빈 배열로 초기화
            }
        })
        .catch(error => console.error('Error fetching order detail:', error));
}

//상세 그리드 형식
const deliveryLotDetailGrid = new Grid({
el: document.getElementById('deliLotDetail'),
rowHeaders: ['rowNum', 
	'checkbox'],
columns: [
	
    
    { header: "LOT번호", name: "goodsLotNum", },
    { header: "유통기한", name: "goodsConsumptionDate", formatter: ({ value }) => formatDate(value, 'order'), width: 'auto', sortable : true},
    { header: "출고가능수량", name: "deliveryPossibleQnt",  },
    { header: "출고예약수량", name: "deliveryQnt",  },
    { header : "수량수정", name : "detail", formatter : () => '<button class="btn btn-warning btn-sm btnInfo" data-bs-toggle="modal" data-bs-target="#assetdetailModal">수량수정</button>', align: 'center'},

],
pageOptions: {
    useClient: false,
    perPage: 5
}
});


//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
function refreshGrid() {

		    // 그리드 데이터 갱신
		    orderList.reloadData();

		 	// 등록 후 상세 데이터 새로 불러오기
		    //loadDeliveryDetail(selectedRow.deliveryId); // 주문 상세 새로 불러오기
		    

}
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

//LOT등록(연결) 처리
function registerLotData() {
	   	  registerGrid.finishEditing();
       // 출고 수량 합계 초기화
          let qntSum = 0; 
       
       // 모든 행 데이터 가져오기(LOT상세의 수량들 합)
          const allData = deliveryLotDetailGrid.getData(); 
          let totalSum = allData.reduce((sum, row) => sum + Number(row.deliveryQnt || 0), 0);

         
          
          const selectedRows = registerGrid.getCheckedRows(); // 선택된 행 가져오기(모달창에서 체크한 것만)
          if(selectedRows.length == 0){
          	showAlert('선택한 LOT가 없습니다.', 'danger');
          	registerModal.hide();
          	return;
          }
		    const requestData = selectedRows.map(row => ({
		    	goodsLotNum: row.goodsLotNum,
		        deliveryQnt: Number(row.deliveryQnt),
		    }));
		 // 유효성 검사 (출고 수량이 출고 가능 수량보다 많지 않게)
		    for (let item of requestData) {
		    	if (isNaN(item.deliveryQnt) || !Number.isInteger(item.deliveryQnt) || item.deliveryQnt <= 0) {
		            showAlert('올바르지 않은 출고 수량입니다.(원인:0, 공백, 글자...)', 'danger');
		            return;
		        }
		    	
		        if (item.deliveryQnt > selectedRows.find(row => row.goodsLotNum === item.goodsLotNum).warehousingRemainingQuantity) {
		            showAlert('출고 수량이 가능 수량을 초과할 수 없습니다.', 'danger');
		            return;
		        } 
		        
		        qntSum += item.deliveryQnt; // 숫자로 변환한 후 더하기

		        if (selectedRow.deliveryDemandQnt <totalSum + qntSum) { 
		            showAlert('연결된 출고 수량들의 합이 요구 수량을 초과할 수 없습니다.', 'danger');
		            return;
		        }
		        
		        
		    }
		 	//console.log(selectedRow.deliveryDemandQnt);
			//console.log(requestData);
			//console.log(totalSum);
			let dlvyDTO = {
				deliveryDetailId: selectedRow.deliveryDetailId,
				optionCode: selectedRow.optionCode,
				lotDetails: requestData
		    };
			//console.log(dlvyDTO);
			registerLot(dlvyDTO);
			registerModal.hide();
}

//LOT등록 fetch
function registerLot(dlvyDTO) {
	const header = document.querySelector('meta[name="_csrf_header"]').content;
    const token = document.querySelector('meta[name="_csrf"]').content;
	
    fetch('/bsn/rest/deli/lot/detail/insert', {
        method: 'POST',
        headers: {
        	'header': header,
        	'X-CSRF-Token': token,
            'Content-Type': 'application/json'  // JSON 형식으로 보내기
        },
        body: JSON.stringify(dlvyDTO)  // 객체를 JSON으로 변환하여 전송
    })
    .then(response => response.json())
    .then(data => {
        if (data.status === "success") {
            showAlert('LOT 등록(연결) 성공', 'success');
         	// 값 초기화 + 값 초기화
            refreshGrid();
            loadDeliveryDetail(selectedRow.deliveryId);
        	loadDeliveryLotDetail(dlvyDTO.deliveryDetailId); // 상세 정보 불러오기

         	
           
        } else {
            showAlert('LOT 등록(연결) 실패:'+ data.message, 'danger');
        }


    }) 
}
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//LOT 연결 제거
function deleteLotData() {
		const selectedDeleteRows = deliveryLotDetailGrid.getCheckedRows(); // 선택된 행 가져오기(모달창에서 체크한 것만)
  		if(selectedDeleteRows.length == 0){
  			showAlert('선택한 LOT가 없습니다. 체크를 확인해주세요.', 'danger');
  			return;
		}

	   	const requestData = selectedDeleteRows.map(row => ({
	   		   deliveryLotDetailNum:Number(row.deliveryLotDetailNum),
	   	}));
	   	
		 //console.log(requestData);
		 let dlvyDTO = {
			deliveryDetailId: selectedRow.deliveryDetailId,
			lotDetails: requestData
		 };
		 console.log("삭제 정보 : " + dlvyDTO);
		 deleteLot(dlvyDTO);
		 deleteModal.hide();
}

function deleteLot(dlvyDTO) {
	const header = document.querySelector('meta[name="_csrf_header"]').content;
    const token = document.querySelector('meta[name="_csrf"]').content;
	
    fetch('/bsn/rest/deli/lot/detail/delete', {
        method: 'DELETE',
        headers: {
        	'header': header,
        	'X-CSRF-Token': token,
            'Content-Type': 'application/json'  // JSON 형식으로 보내기
        },
        body: JSON.stringify(dlvyDTO)  // 객체를 JSON으로 변환하여 전송
    })
    .then(response => response.json())
    .then(data => {
        if (data.status === "success") {
            showAlert('LOT 삭제 성공', 'success');
         	// 값 초기화 + 값 초기화
            refreshGrid();
            loadDeliveryDetail(selectedRow.deliveryId);
        	loadDeliveryLotDetail(dlvyDTO.deliveryDetailId); // 상세 정보 불러오기

         	
           
        } else {
            showAlert('LOT 삭제 실패:'+ data.message, 'danger');
        }


    }) 
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//출고 확정
function confirmDelivery() {
	//출고 확정지을 주문ID
	console.log("출고 확정지을 주문ID: " + selectDlivyId);
	//const deliveryDetailData = deliveryDetailGrid.getData();
	
	
	//const requestData = deliveryDetailData.map(row => ({
	//	   deliveryDetailId:Number(row.deliveryDetailId),
	//}));
	//console.log(requestData);
	//let dlvyDTO = {
			
	//		deliveryId: selectDlivyId,
	//		deliveryDetails: requestData
	//};
	//console.log(dlvyDTO);
	
	
}






////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//모달 인스턴스 생성

const registerModal = new bootstrap.Modal(document.getElementById('registerModal'));
const deleteModal = new bootstrap.Modal(document.getElementById('deleteModal'));
const confirmModal = new bootstrap.Modal(document.getElementById('confirmModal')); 

// 상품 선택 확인 함수
function checkGoodsSelection(modal) {
    if (selectedRow && selectedRow.optionCode) {
        modal.show();
    } else {
        showAlert('상품을 선택해주세요!', 'danger');
    }
}

// 주문 등록 버튼 클릭 이벤트
document.getElementById('registerButton').addEventListener('click', () => {
	checkGoodsSelection(registerModal); // 등록 모달 띄우기
});

// 주문 거부 버튼 클릭 이벤트
document.getElementById('deleteButton').addEventListener('click', () => {
	
	// 먼저 상품이 선택되었는지 확인
    if (!selectedRow || !selectedRow.optionCode) {
        // 상품이 선택되지 않았다면 checkGoodsSelection을 호출하여 상품 선택을 유도
        checkGoodsSelection(deleteModal);
        return;
    }

    // 상품이 선택되었으면, LOT 체크된 행이 있는지 확인
    const selectedDeleteRows = deliveryLotDetailGrid.getCheckedRows(); // 체크된 행 가져오기

    if (selectedDeleteRows.length === 0) {
        // 체크된 행이 없으면 경고 메시지 표시
        showAlert('선택한 LOT가 없습니다. 체크를 확인해주세요.', 'danger');
        return;
    }
    
 	// 삭제 모달 띄우기
    deleteModal.show(); 
});


// 출고 확정 버튼 클릭 이벤트
document.getElementById('confirmButton').addEventListener('click', () => {
	const deliveryDetailData = deliveryDetailGrid.getData(); 
	if(deliveryDetailData.length === 0){
		showAlert('출고할 주문을 선택하세요.', 'danger');
		return;
	}
	
	
	const isAllSufficient = deliveryDetailData.every(row => row.sufficiencyStatus === 1);

    if (!isAllSufficient) {
        showAlert('출고할 주문 중 수량이 충족되지 않은 상품이 있습니다.', 'danger');
        return;
    }
    console.log(deliveryDetailData);
    
	confirmModal.show();
});


//
// 공통된 버튼을 다루되, 모달에 따라 다르게 동작하도록 설정
document.querySelectorAll('.modal-footer #btn-register').forEach(button => {
    button.addEventListener('click', () => {
    	// 현재 show 클래스가 있는 모달 찾기
        const activeModal = document.querySelector('.modal.show');
    	
    	//모달 ID별로 처리
    	if (activeModal.id === 'confirmModal') {
			//출고 확정 처리///////////////
			confirmDelivery();
			
			/////////////////////////////
            confirmModal.hide();
        } 
    	else if (selectedRow && selectedRow.optionCode) {
            
			
            if (activeModal) {
                if (activeModal.id === 'registerModal') {
                	
                	
                    // LOT 등록 처리///////////////
                    registerLotData();
                 

					/////////////////////////
                    
                } else if (activeModal.id === 'deleteModal') {
					//LOT 제거 처리 ///////////////
					deleteLotData();
					
					/////////////////////////////
                    deleteModal.hide();
                } 
                
            }
        } else {
            showAlert('상품을 선택해주세요!', 'danger');
        }
    });
});




document.querySelectorAll('.modal-footer .btn-secondary').forEach(button => {
    button.addEventListener('click', () => {
        // 현재 활성화된 모달 찾기
        const activeModal = document.querySelector('.modal.show');

        if (activeModal) {

        	if (activeModal.id === 'registerModal') {
                registerModal.hide();
                registerGrid.reloadData();
            } else if (activeModal.id === 'deleteModal') {
                deleteModal.hide();
            } else if (activeModal.id === 'confirmModal') {
            	confirmModal.hide();
            }
        	
        }
    });
});
/////////////////////////////////////////////////////////////////////////////////////////


</script>
</body>
</html>