<!DOCTYPE html>
<html lang="en"
layout:decorate="~{layouts/layout}"
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>

<head>


  <script>
    function toggleDateInputs(enable) {
      document.getElementById("startDate").disabled = !enable;
      document.getElementById("endDate").disabled = !enable;
      
     
    }
    
	var Grid = tui.Grid;
/*	
	const dataSource = {
			api: {
				readData: { url: 'http://localhost:81/bsn/rest/order', method: 'GET', initParams: { page: 1 }},
			},
			contentType: 'application/json'
		};
	//상품 테이블
	const grid = new Grid({
			el: document.getElementById('goods'), // 컨테이너 엘리먼트
			pageOptions: {
			useClient: true,
			perPage: 5,
		},
		columns: [ 
			{ header : "상품코드", name : "orderCode"},
			{ header : "상품명", name : "goodsName"},
			{ header : "규격", name : "goodsStandard"}
		],
		data: dataSource
	});
 */   
  </script>
  
  
  
  
  

</head>

<body>
  <!-- 페이지 내용 시작 -->
  <div class="container-scroller" layout:fragment="content">
	
	<h3>주문 등록</h3>


      <div class="content-wrapper">

        <div class="row">

          <div class="col-md-9  grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">검색 조건</h4>
                <p class="card-description">
                  검색 조건을 선택하세요.
                </p>
                <form name='searchForm' action="/bsn/order"  class="forms-sample">

                  <div class="d-flex align-items-center gap-3">
                    <!-- 라디오 버튼 -->
                    <div class="d-flex gap-3">
                      <div class="form-check">
                        <label class="form-check-label">
                          <input type="radio" class="form-check-input" name="optionsRadios" id="optionNone" value=""
                            checked onclick="toggleDateInputs(false)">
                          사용안함
                        </label>
                      </div>
                      <div class="form-check">
                        <label class="form-check-label">
                          <input type="radio" class="form-check-input" name="optionsRadios" id="optionOrderDate"
                            value="order" onclick="toggleDateInputs(true)">
                          주문일자
                        </label>
                      </div>
                      <div class="form-check">
                        <label class="form-check-label">
                          <input type="radio" class="form-check-input" name="optionsRadios" id="optionDueDate"
                            value="due" onclick="toggleDateInputs(true)">
                          납기일자
                        </label>
                      </div>
                    </div>

                    <!-- 날짜 입력 -->
                    <div class="d-flex gap-3">
                      <div>
                        <label for="startDate">시작 날짜</label>
                        <input type="date" class="form-control" id="startDate" name="startDate" disabled>
                      </div>
                      <div>
                        <label for="endDate">끝 날짜</label>
                        <input type="date" class="form-control" id="endDate" name="endDate" disabled>
                      </div>
                    </div>
                  </div>


                  <div class="form-group m-3">
                    <label for="exampleSelectKeyword">검색어</label>
                    <select class="form-control" id="exampleSelectKeyword">
                      <option>발주지점</option>
                      <option>주문서명</option>
                      <option>담당자명</option>
                    </select>
                  </div>

                  <div class="form-group">
                    <label for="exampleInputCity1">City</label>
                    <input type="text" class="form-control" id="exampleInputCity1" placeholder="Location">
                  </div>

                  <button type="submit" class="btn btn-primary mr-2">검색</button>
                  <button class="btn btn-light">Cancel</button>
                </form>
              </div>
            </div>
          </div>
          
          
          
          



          




        </div>
        
        
        <div class="row">
        	<div class="col-md-9  grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">검색 조건</h4>
                <p class="card-description">
                  그리드 - 검색한 지점측 발주 신청 리스트 출력
                </p>
                <table class="table table-hover" style="text-align:center;">
                <thead>
                	<tr>
						<td>주문번호</td>
						<td>지점번호</td>
						<td>주문일</td>
						<td>납기일자</td>
						<td>비고</td>
                	</tr>
                </thead>
                <tbody>  
                	<tr th:each="order : ${bhfOrder}">
                		<td th:text="${order.orderCode}">주문번호</td>
                		<td th:text="${order.branchOfficeId}">지점번호</td>
                		
                		<td th:text="${#dates.format(order.orderDate, 'yyyy/MM/dd')}">주문일</td>
                		<td th:text="${#dates.format(order.dueDate, 'yyyy/MM/dd')}">납기일자</td>
                		<td th:text="${order.remark}">비고</td>
                		
                	</tr>
                </tbody>
                </table>
                
                
              </div>
            </div>
          </div>
        </div>
        
        
        
        <div class="row">
        	<div class="col-md-9  grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">검색 조건</h4>
                <p class="card-description">
                  그리드 - 선택한 발주 신청의 상세(상품) 목록 출력
                </p>
              </div>
            </div>
          </div>
          
        </div>
        <div class="container">
        	<!-- 그리드 -->
				<div id="grid"></div>
				<div id="pagination" class="tui-pagination"></div>
			 
        </div>
        
        
        
      </div>
      <!-- content-wrapper ends -->

  </div>
  <!-- 페이지 내용 끝 -->




</body>

</html>