<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link href="/css/bsn/main.css" rel="stylesheet">
<style>

	code {
    font-weight: bold;
    color : red;

  }
  .green {
  	color : green;
  }
</style>
</head>
<body>
	<h1>여기는 영업 페이지 입니다.</h1>
	<h1>여기는 영업 페이지 입니다.</h1>
	<div>
		<p><code>텍스트</code></p>
		<p class="green">텍스트</p>
		<a href="http://localhost:81/bsn/test">dd</a>
		<div>
			<button onclick="window.location.href = 'test';">상대경로</button>
			<button onclick="window.location.href = '/bsn/test';">절대경로</button>
		</div>
		
	</div>
</body>
</html>