<!DOCTYPE html>
<html

lang="en"
layout:decorate="~{layouts/layout}"
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link href="/css/bsn/main.css" rel="stylesheet">
<style>

	code {
    font-weight: bold;
    color : red;

  }
  .green {
  	color : green;
  }
</style>
</head>
<body>
	<div layout:fragment="content">
	<h1>여기는 영업 페이지 입니다.</h1>
	<h1>여기는 영업 페이지 입니다.</h1>
	<div>
		<p><code>텍스트</code></p>
		<p class="green">텍스트</p>
	</div>
	</div>
</body>
</html>