<!DOCTYPE html>
<html

lang="en"
layout:decorate="~{layouts/layout}"
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link href="/css/bsn/main.css" rel="stylesheet">
<style>

	code {
    font-weight: bold;
    color : red;

  }
  .green {
  	color : green;
  }
</style>
</head>
<body>
<div layout:fragment="content">
	<h1>여기는 영업 페이지 입니다.</h1>
	<h1>여기는 영업 페이지 입니다.</h1>
	<div>
		<p><code>텍스트</code></p>
		<p class="green">텍스트</p>
		<a href="http://localhost:81/bsn/test">dd</a>
		<div>
			<button onclick="window.location.href = 'test';">상대경로</button>
			<button onclick="window.location.href = '/bsn/test';">절대경로</button>
		</div>
		<div class="col-md-3 col-12 grid-margin stretch-card ">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Checkbox Controls</h4>
                <p class="card-description">Checkbox and radio controls (default appearance is in primary color)</p>
                <form>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <div class="form-check">
                          <label class="form-check-label">
                            <input type="checkbox" class="form-check-input">
                            Default
                          </label>
                        </div>
                        <div class="form-check">
                          <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" checked>
                            Checked
                          </label>
                        </div>
                        <div class="form-check">
                          <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" disabled>
                            Disabled
                          </label>
                        </div>
                        <div class="form-check">
                          <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" disabled checked>
                            Disabled checked
                          </label>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <div class="form-check">
                          <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1"
                              value="">
                            Default
                          </label>
                        </div>
                        <div class="form-check">
                          <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2"
                              value="option2" checked>
                            Selected
                          </label>
                        </div>
                        <div class="form-check">
                          <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="optionsRadios2" id="optionsRadios3"
                              value="option3" disabled>
                            Disabled
                          </label>
                        </div>
                        <div class="form-check">
                          <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="optionsRadio2" id="optionsRadios4"
                              value="option4" disabled checked>
                            Selected and disabled
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
              </div>

            </div>
          </div>
		
	</div>
</div>
</body>
</html>