<!-- 발주 요청 페이지 -->

<!DOCTYPE html>
<html

>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>sERPing</title>

  <!-- plugins:css -->
  <link rel="stylesheet" href="/templates/erp/assets/vendors/feather/feather.css">
  <link rel="stylesheet" href="../../vendors/ti-icons/css/themify-icons.css">
  <link rel="stylesheet" href="../../vendors/css/vendor.bundle.base.css">
  <!-- endinject -->
  <!-- Plugin css for this page -->
  <link rel="stylesheet" href="../../vendors/select2/select2.min.css">
  <link rel="stylesheet" href="../../vendors/select2-bootstrap-theme/select2-bootstrap.min.css">
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="../../css/vertical-layout-light/style.css">
  <!-- endinject -->
  <link rel="shortcut icon" href="../../images/favicon.png" />

<!-- Bootstrap -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<!-- timePicker -->
<link rel="stylesheet" href="https://uicdn.toast.com/tui.time-picker/latest/tui-time-picker.css" />
<script src="https://uicdn.toast.com/tui.time-picker/latest/tui-time-picker.js"></script>

<!-- datePicker -->
<link rel="stylesheet" href="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.css" />
<script src="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.js"></script>

<!-- paging -->
<link rel="stylesheet" href="https://uicdn.toast.com/tui.pagination/latest/tui-pagination.css" />
<script src="https://uicdn.toast.com/tui.pagination/latest/tui-pagination.js"></script>

<!-- toast grid -->
<link rel="stylesheet" href="https://uicdn.toast.com/grid/latest/tui-grid.css" />
<script src="https://uicdn.toast.com/grid/latest/tui-grid.js"></script>

<!-- 엑셀 -->
<script lang="javascript" src="https://cdn.sheetjs.com/xlsx-0.20.2/package/dist/xlsx.full.min.js"></script>

</head>
<body>
	<div class="container">
	
		<h3>주문 등록</h3>


      <div class="content-wrapper">

        <div class="row">

          <div class="col-md-9  grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">검색 조건</h4>
                <p class="card-description">
                  검색 조건을 선택하세요.
                </p>
                <form name='searchForm' action="/bsn/order"  class="forms-sample">

                  <div class="d-flex align-items-center gap-3">
                    <!-- 라디오 버튼 -->
                    <div class="d-flex gap-3">
                      <div class="form-check">
                        <label class="form-check-label">
                          <input type="radio" class="form-check-input" name="optionsRadios" id="optionNone" value=""
                            checked onclick="toggleDateInputs(false)">
                          사용안함
                        </label>
                      </div>
                      <div class="form-check">
                        <label class="form-check-label">
                          <input type="radio" class="form-check-input" name="optionsRadios" id="optionOrderDate"
                            value="order" onclick="toggleDateInputs(true)">
                          주문일자
                        </label>
                      </div>
                      <div class="form-check">
                        <label class="form-check-label">
                          <input type="radio" class="form-check-input" name="optionsRadios" id="optionDueDate"
                            value="due" onclick="toggleDateInputs(true)">
                          납기일자
                        </label>
                      </div>
                    </div>

                    <!-- 날짜 입력 -->
                    <div class="d-flex gap-3">
                      <div>
                        <label for="startDate">시작 날짜</label>
                        <input type="date" class="form-control" id="startDate" name="startDate" disabled>
                      </div>
                      <div>
                        <label for="endDate">끝 날짜</label>
                        <input type="date" class="form-control" id="endDate" name="endDate" disabled>
                      </div>
                    </div>
                  </div>


                  <div class="form-group m-3">
                    <label for="exampleSelectKeyword">검색어</label>
                    <select class="form-control" id="exampleSelectKeyword">
                      <option>발주지점</option>
                      <option>주문서명</option>
                      <option>담당자명</option>
                    </select>
                  </div>

                  <div class="form-group">
                    <label for="exampleInputCity1">City</label>
                    <input type="text" class="form-control" id="exampleInputCity1" placeholder="Location">
                  </div>

                  <button type="submit" class="btn btn-primary mr-2">검색</button>
                  <button class="btn btn-light">Cancel</button>
                </form>
              </div>
            </div>
          </div>
          
          
          
          <div class="col-md-3 col-12 grid-margin stretch-card ">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Checkbox Controls</h4>
                <p class="card-description">Checkbox and radio controls (default appearance is in primary color)</p>
                <form>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <div class="form-check">
                          <label class="form-check-label">
                            <input type="checkbox" class="form-check-input">
                            Default
                          </label>
                        </div>
                        <div class="form-check">
                          <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" checked>
                            Checked
                          </label>
                        </div>
                        <div class="form-check">
                          <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" disabled>
                            Disabled
                          </label>
                        </div>
                        <div class="form-check">
                          <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" disabled checked>
                            Disabled checked
                          </label>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <div class="form-check">
                          <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1"
                              value="">
                            Default
                          </label>
                        </div>
                        <div class="form-check">
                          <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2"
                              value="option2" checked>
                            Selected
                          </label>
                        </div>
                        <div class="form-check">
                          <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="optionsRadios2" id="optionsRadios3"
                              value="option3" disabled>
                            Disabled
                          </label>
                        </div>
                        <div class="form-check">
                          <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="optionsRadio2" id="optionsRadios4"
                              value="option4" disabled checked>
                            Selected and disabled
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
              </div>

            </div>
          </div>
	
		<div class="row">
			<h3 class="mt-2 mb-2">상품 발주 요청</h3>
			<hr>
			<div class="col-md-6 mt-2 mb-2">
				<div class="row">
					<label class="col-sm-4">주문 지점</label> 
					<input type="text"class="col-sm-7" readonly>
				</div>
			</div>
			<div class="col-md-6 mt-2 mb-2">
				<div class="row">
					<div class="col-sm-1"></div>
					<label class="col-sm-4">납기 일자</label> 
					<input type="date"class="col-sm-7">
				</div>
			</div>
			<div class="col-md-12 mt-2 mb-5">
				<div class="row">
					<label class="col-sm-2">비고</label> 
					<input type="text"class="col-sm-10">
				</div>
			</div>
			<div class="col-md-6 stretch-card mt-2 mb-2">
				<div class="card">
					<div class="card-body">
						<div class="row mb-3">
							<label class="col-sm-2">상품명</label> 
							<input type="text" class="col-sm-6" id="goodsName">
							<button type="button" class="col-sm-2" onclick="search()">검색</button>
							<button type="button" class="col-sm-2">초기화</button>
						</div>
						<div id="goods"></div>
						<div id="pagination" class="tui-pagination"></div>
					</div>
				</div>
			</div>
			<div class="col-md-6 stretch-card mt-2">
				<div class="card">
					<div class="card-body">
						<h6 class="mb-4">상품별 옵션</h6>
						<div id="option"></div>
						<div id="pagination" class="tui-pagination"></div>
					</div>
				</div>
			</div>
			<div class="col-md-12 stretch-card mt-3 mb-5">
				<div class="card">
					<div class="card-body">
						<h6 class="mb-4">발주</h6>
						<div id="order"></div>
						<div id="pagination" class="tui-pagination"></div>
						<div style="text-align : center">
							<button>등록</button>
							<button>초기화</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

<script>
	var Grid = tui.Grid;
	
	const dataSource = {
			api: {
				readData: { url: 'http://localhost:81/bsn/rest/order', method: 'GET', initParams: { page: 1 }},
			},
			contentType: 'application/json'
		};
	//상품 테이블
	const grid = new Grid({
			el: document.getElementById('goods'), // 컨테이너 엘리먼트
			pageOptions: {
			useClient: true,
			perPage: 5,
		},
		columns: [ 
			{ header : "상품코드", name : "orderCode"},
			{ header : "상품명", name : "goodsName"},
			{ header : "규격", name : "goodsStandard"}
		],
		data: dataSource
	});
/*  	grid.on("click", (ev) =>{     
		if(ev.columnName == "goodsCode"){         
			let id = grid.getValue(ev.rowKey, "goodsCode")         
			console.log("id : " + id);     
		} 
	});
 	let rowData = [];
	grid.on('click', (ev) => {
	    const rowKey = ev.rowKey; // 클릭된 행의 키값
	    rowData = [grid.getRow(rowKey)]; // 해당 행의 데이터 가져오기
        console.log(rowData); // 선택된 행의 데이터 가져오기
        grid2.resetData(rowData); // 두번째 그리드 없데이트
	});  */
	grid.on('click', (ev) => {
		const rowKey = ev.rowKey;  
		const rowData = grid.getRow(rowKey);  
		console.log(rowData.goodsCode); 
		const goodsCode = rowData.goodsCode;
		
		// 옵션조회 쿼리 호출(goodsCode)
	    fetch('http://localhost:81/bhf/rest/option/list?goodsCode=' + goodsCode + '&perPage=5&page=1', {
	        method: 'GET',
	        headers: {
	            'Content-Type': 'application/json'
	        }
	    })
	    .then(response => response.json())
	    .then(data => {
	        console.log("옵션 데이터:", data);
	        grid2.resetData(data);  // 옵션 테이블 데이터 업데이트
	    })
	    .catch(error => console.error("데이터 요청 실패:", error));
	});
	
	//옵션 테이블
	const grid2 = new Grid({
			el: document.getElementById('option'), // 컨테이너 엘리먼트
			pageOptions: {
			useClient: false,
			perPage: 5
		},
		columns: [ 
			{ header : "상품코드", name : "goodsCode"},
			{ header : "옵션코드", name : "optionCode"},
			{ header : "옵션명", name : "optionName"}
		],
		data: [{}]
	});
	//발주 테이블
	const grid3 = new Grid({
			el: document.getElementById('order'), // 컨테이너 엘리먼트
			pageOptions: {
			useClient: true,
			perPage: 5
		},
		columns: [ 
			{ header : "상품코드", name : "goodsCode"},
			{ header : "상품명", name : "goodsName"},
			{ header : "옵션코드", name : "optionCode"},
			{ header : "옵션명", name : "optionName"},
			{ header : "규격", name : "goodsStandard"},
			{ header : "발주수량", name : "quantity", editor: 'text'}
		],
		data: [{}]
	});
	
	
	
</script>
</html>