<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.beauty1nside.hr.mapper.DeptMapper">

	<!-- 회사 정보 조회 -->
	<select id="getCompanyInfo" resultType="com.beauty1nside.hr.dto.DeptDTO">
	    SELECT 
	        c.company_num as companyNum,
	        c.company_name as companyName,
	        c.company_eng_name as companyEngName,
	        (SELECT COUNT(*) FROM hr_employee he WHERE he.company_num = c.company_num) AS totalEmployeeCount
	    FROM ERP_COMPANY c
	    WHERE c.company_num = #{companyNum}
	</select>

    <!-- 부서 전체 목록 조회 -->
	<select id="list" resultType="com.beauty1nside.hr.dto.DeptDTO">
	    SELECT
	        d.department_num AS departmentNum,
	        d.department_name AS departmentName,
	        d.parent_department_num AS parentDepartmentNum,
	        d.department_type AS departmentType,
	        dt.cmmn_name AS departmentTypeName,  
	        d.manager_num AS managerNum,
	        e.employee_name AS managerName, 
	        d.department_status AS departmentStatus,
	        ds.cmmn_name AS departmentStatusName, 
	        d.register_date AS registerDate,
	        d.update_date AS updateDate,
	        d.company_num AS companyNum,
	        (
	            SELECT COUNT(*) 
	            FROM hr_employee he 
	            WHERE he.department_num = d.department_num 
	            AND he.company_num = #{companyNum}  <!-- ✅ 회사 필터 추가 -->
	        ) AS employeeCount  
	     FROM HR_DEPARTMENT d
	        LEFT JOIN CMMN dt on d.department_type = dt.cmmn_code  
	        LEFT JOIN CMMN ds on d.department_status = ds.cmmn_code  
	        LEFT JOIN hr_employee e on d.manager_num = e.employee_num and e.authority = 'au002' 
	    WHERE d.company_num = #{companyNum}  <!-- ✅ 회사 필터 추가 -->
	    ORDER BY d.department_num
	</select>
	
	
    <!-- 부서 추가 -->
    <insert id="insertDept" parameterType="com.beauty1nside.hr.dto.DeptDTO">
        INSERT INTO HR_DEPARTMENT (
            DEPARTMENT_NUM, DEPARTMENT_NAME, PARENT_DEPARTMENT_NUM, 
            DEPARTMENT_TYPE, MANAGER_NUM, DEPARTMENT_STATUS, 
            REGISTER_DATE, UPDATE_DATE, COMPANY_NUM
        ) VALUES (
            HR_DEPARTMENT_SEQ.NEXTVAL, #{departmentName}, #{parentDepartmentNum}, 
            #{departmentType}, #{managerNum}, #{departmentStatus}, 
            SYSDATE, SYSDATE, #{companyNum}
        )
    </insert>


</mapper>