<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.beauty1nside.hr.mapper.EmpMapper">


	<!-- 특정 사원 조회 -->
	<select id="info" resultType="com.beauty1nside.hr.dto.EmpDTO"
		parameterType="Long">
		SELECT
		e.employee_num AS employeeNum,
		e.employee_id AS employeeId,
		e.employee_name AS employeeName,
		e.email AS email,
		e.phone AS phone,
		e.hire_date AS hireDate,
		fn_get_cmmn_name(e.position) AS position,
		fn_get_cmmn_name(e.status) AS status,
		fn_get_cmmn_name(e.employment_type) AS employmentType,
		d.department_name AS departmentName
		FROM hr_employee e
		LEFT JOIN hr_department d ON
		e.department_num = d.department_num
		WHERE e.employee_num =
		#{employee_num}
		ORDER BY e.employee_num DESC;
	</select>

	<select id="list" resultType="com.beauty1nside.hr.dto.EmpDTO"
		parameterType="com.beauty1nside.hr.dto.EmpSearchDTO">
		SELECT * FROM (
		SELECT ROWNUM rn, employeeNum, employeeId, employeeName, email, phone,
		hireDate, position, status, employmentType, departmentName
		FROM (
		SELECT
		e.employee_num AS employeeNum,
		e.employee_id AS employeeId,
		e.employee_name AS employeeName,
		e.email AS email,
		e.phone AS phone,
		e.hire_date AS hireDate,
		fn_get_cmmn_name(e.position) AS position,
		fn_get_cmmn_name(e.status) AS status,
		fn_get_cmmn_name(e.employment_type) AS employmentType,
		COALESCE(d.department_name, '부서 없음') AS departmentName
		FROM hr_employee e
		<if test="departmentNum == null ">
			LEFT
		</if>
		JOIN hr_department d ON e.department_num = d.department_num
		<where>
			<if test="departmentNum != null and departmentNum != ''">
				AND e.department_num in (select department_num
				from hr_department
				where department_num = #{departmentNum}
				or parent_department_num = #{departmentNum})
			</if>

			<!-- ✅ 하위 부서가 선택되었을 경우, 하위 부서만 조회 -->
			<if test="subDepartmentNum != null and subDepartmentNum != ''">
				AND e.department_num = #{subDepartmentNum}
			</if>

			<if test="departmentNum == null or departmentNum == ''">
				<if test="departmentName != null and departmentName != ''">
					AND d.department_name = #{departmentName, jdbcType=VARCHAR}
				</if>
			</if>
			<if test="position != null and position != ''">
				AND e.position = #{position}
			</if>
			<if test="status != null and status != ''">
			    AND e.status = fn_get_cmmn_code_ver2(#{status}, '재직 상태')
			</if>
			<if test="employmentType != null and employmentType != ''">
				AND e.employment_type = fn_get_cmmn_code_ver2(#{employmentType},'근무
				유형')
			</if>
			<if test="searchKeyword != null and searchKeyword != ''">
				<choose>
					<when test="searchType == 'name'">
						AND e.employee_name LIKE '%' || #{searchKeyword} || '%'
					</when>
					<when test="searchType == 'id'">
						AND e.employee_id LIKE '%' || #{searchKeyword} || '%'
					</when>
					<when test="searchType == 'phone'">
						AND e.phone LIKE '%' || #{searchKeyword} || '%'
					</when>
				</choose>
			</if>
		</where>
		) 
        <![CDATA[
        WHERE ROWNUM <= #{end} 
         ]]>
		)
		WHERE rn >= #{start}
	</select>


	<select id="count"
		parameterType="com.beauty1nside.accnut.dto.AssetSearchDTO">
		SELECT COUNT(employee_num)
		FROM hr_employee e
		LEFT JOIN hr_department d
		ON e.department_num = d.department_num

		<where>
			<include refid="searchInfo"></include>
		</where>
	</select>


	<sql id="searchInfo">
		<if test="searchType != null and searchKeyword != null">
			<choose>
				<when test="searchType == 'name'">
					AND e.employee_name LIKE '%' || #{searchKeyword} || '%'
				</when>
				<when test="searchType == 'id'">
					AND e.employee_id LIKE '%' || #{searchKeyword} || '%'
				</when>
				<when test="searchType == 'phone'">
					AND e.phone LIKE '%' || #{searchKeyword} || '%'
				</when>
			</choose>
		</if>

		<!-- 부서 선택 조건 추가 -->
		<if test="departmentNum != null and departmentNum != ''">
			AND (d.department_num = #{departmentNum}
			OR d.parent_department_num = #{departmentNum})
		</if>

		<!-- 하위 부서 선택 조건 추가 -->
		<if test="subDepartmentNum != null and subDepartmentNum != ''">
			AND d.department_num = #{subDepartmentNum}
		</if>

		<if test="position != null and position != ''">
			AND e.position = #{position}
		</if>

<if test="status != null and status != ''">
    AND e.status = #{status}
</if>
		<if test="employmentType != null and employmentType != ''">
			AND e.employment_type = fn_get_cmmn_code_ver2(#{employmentType}, '근무
			유형')
		</if>
	</sql>


	<!-- 부서 목록 조회 -->
	<select id="getDepartments" resultType="map">
		SELECT department_num as department_num,
		department_code as department_code,
		department_name as department_name,
		NVL(parent_department_num, 0) AS parent_department_num
		FROM hr_department
		ORDER BY parent_department_num, department_name
	</select>

	<!-- 직급 목록 조회 -->
	<select id="getPositions" resultType="map">
		SELECT DISTINCT c.cmmn_code AS cmmnCode, c.cmmn_name AS cmmnName
		FROM cmmn c
		WHERE c.upper_cmmn_code = 'PO'
		ORDER BY c.cmmn_code
	</select>

	<!-- 근무 유형 목록 조회 -->
	<select id="getEmploymentTypes" resultType="string">
		SELECT DISTINCT c.cmmn_name
		FROM cmmn c
		WHERE c.upper_cmmn_code = 'ET'

		UNION

		SELECT DISTINCT fn_get_cmmn_name(e.employment_type)
		FROM hr_employee e
		WHERE e.employment_type IS NOT NULL

		ORDER BY 1
	</select>

	<!-- 재직 상태 목록 조회 -->
	<select id="getStatuses" resultType="string">
		SELECT DISTINCT c.cmmn_name
		FROM cmmn c
		WHERE c.upper_cmmn_code = 'ST'

		UNION

		SELECT DISTINCT fn_get_cmmn_name(e.status)
		FROM hr_employee e
		WHERE e.status IS NOT NULL

		ORDER BY 1
	</select>

</mapper>