<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.beauty1nside.bhf.mapper.BhfGoodsInMapper">
	
	<!-- 상품입고 등록 프로시저(수량에 따라 재발주 및 반품 자동등록) -->
	<insert id="goodsIn" statementType="CALLABLE">
		call bhf_goods_in(
		  #{branchOfficeId},
		  #{dueDate},
		  #{companyNum},
		  #{orderId},
		  #{orderCode},
		  #{files, typeHandler=com.beauty1nside.bhf.GoodsInArrayStructHandler} 
		)
	</insert>
	
	<!-- 주문서 조회 -->
	<select id="goodsOrdList" resultType="BhfGoodsOrdDTO" parameterType="BhfGoodsOrdSearchDTO">
		select  order_id, 
	   			order_code, 
	  			order_date, 
	   			due_date, 
	   			remark
		from ( 	select  rownum rn,
						order_id, 
			   			order_code, 
			  			order_date, 
			   			due_date, 
			   			remark
				from   	bsn_order
		<![CDATA[
				where rownum <= #{end}
		]]>
				and <include refid="searchInfo"></include>
				)
		where rn >= #{start}
	</select>
	
	<!-- 페이징에 전체숫자 알려주기 위해서 -->
	<select id="count" parameterType="BhfGoodsOrdSearchDTO">
		SELECT COUNT(order_id)
		FROM bsn_order
		<where>
			<include refid="searchInfo"></include>
		</where>
	</select>
	
	<!-- 검색조건(검색을 안하면 그냥 조회가 되게) -->
	<sql id="searchInfo">
		company_num = 1<!-- #{companyNum}  --> AND order_status = 'VS002'<!-- 완료 상태인 주문서만 조회 -->
		<if test="orderDate != null and ! orderDate.equals('')">
			AND TO_CHAR(order_date, 'yyyy-mm-dd') = #{orderDate}
		</if>
	</sql>
	
	<!-- 주문서 상세조회 -->
	<select id="goodsOrdDtlList" resultType="BhfGoodsOrdDTO" parameterType="BhfGoodsOrdSearchDTO">
		select  branch_office_id,
				goods_name, 
				goods_code,
				option_code, 
				option_name, 
				goods_standard, 
				quantity
		from(	select 	rownum rn,
						o.branch_office_id,
				        d.goods_name, 
				        d.goods_code,
				        d.option_code, 
				        d.option_name, 
				        d.goods_standard, 
				        d.quantity
				from 	bsn_order_detail d join bsn_order o on d.order_id = o.order_id
				<![CDATA[
				where rownum <= #{end}
		]]>
				and d.order_id = #{orderId}
				)
		where rn >= #{start}
	</select>
	
</mapper>