<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.beauty1nside.bhf.mapper.BhfOrderMapper">
	
	<!-- 발주 요청 프로시져 호출 -->
	<insert id="orderPrd" statementType="CALLABLE">
		call order_prd(
		  #{branchOfficeId},
		  #{dueDate},
		  #{remark},
		  #{companyNum},
		  #{files, typeHandler=com.beauty1nside.bhf.OracleArrayStructHandler} 
		)
	</insert>
	
	<!-- 상품조회 -->
	<select id="goodsList" resultType="BhfGoodsOpDTO" parameterType="BhfOrdSearchDTO">
		select goods_code,
	           goods_name,
	           goods_standard
		from (select /*+INDEX_DESC(purchse_goods pk_purchse_goods)*/
					 rownum rn,
					 g.goods_code,
		             g.goods_name,
		             g.goods_standard
			  from   purchse_goods g
		<![CDATA[
			where rownum <= #{end}
		]]>
			and <include refid="searchInfo"></include>
			)
		where rn >= #{start}
	</select>

	<!-- 페이징에 전체숫자 알려주기 위해서 -->
	<select id="count" parameterType="BhfOrdSearchDTO">
		SELECT COUNT(g.goods_code)
		FROM purchse_goods g
		<where>
			<include refid="searchInfo"></include>
		</where>
	</select>
	
	<!-- 검색조건(검색을 안하면 그냥 조회가 되게) -->
	<sql id="searchInfo">
			g.company_num = 1<!-- #{companyNum}  -->
			<if test="goodsCode != null and ! goodsCode.equals('')">
				AND goods_code Like '%' || #{goodsCode} || '%'
			</if>
			<if test="goodsName != null and ! goodsName.equals('')">
				AND g.goods_name Like '%' || #{goodsName} || '%'
			</if>
	</sql>
		
	<!-- 상품 선택시 옵션조회 -->
	<select id="optionList" resultType="BhfGoodsOpDTO" parameterType="BhfOrdSearchDTO">
		select goods_code,
			   goods_name,
			   goods_standard,
		       option_code,
		       option_name
		from (select /*+INDEX_DESC(purchse_option pk_purchse_option)*/
					 rownum rn,
					 g.goods_code,
			   		 g.goods_name,
			   		 g.goods_standard,
		       		 o.option_code,
		       		 o.option_name
			  from   purchse_goods g join purchse_option o on g.goods_num = o.goods_num
		<![CDATA[
			where rownum <= #{end}
		]]>
			and <include refid="searchInfo"></include>
			)
		where rn >= #{start}
	</select>
	
</mapper>