<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.beauty1nside.bhf.mapper.BhfReturnInsertMapper">

	<!-- 반품 요청 프로시져 호출 -->
	<insert id="returnGoods" statementType="CALLABLE">
		call bhf_return_goods(
		  #{branchOfficeId},
		  #{returnRemark},
		  #{companyNum},
		  #{files, typeHandler=com.beauty1nside.bhf.ReturningArrayStructHandler} 
		)
	</insert>

	<!-- 바코드 입력시 나오는 조회 -->
	<select id="barcodeSearch" resultType="BhfBarcodeDTO" parameterType="BhfBarcodeSearchDTO">
		select  branch_office_id,
				goods_code,
        		goods_name,
		        option_code,
		        option_name,
		        option_barcode,
		        goods_lot_num,
		        goods_consumption_date
		from (	select  rownum rn,
						w.branch_office_id,
						w.goods_code,
		        		w.goods_name,
				        w.option_code,
				        w.option_name,
				        o.option_barcode,
				        b.goods_lot_num,
				        b.goods_consumption_date
				from    bhf_warehouse w 
				join 	purchse_option o 
				on 		w.option_code = o.option_code 
				join 	purchs_warehousing_body b
				on 		o.option_num = b.option_num
		<![CDATA[
			where rownum <= #{end}
		]]>
			and w.option_code = bhf_option_code(#{optionBarcode}) and w.company_num = 1 and w.branch_office_id = 'YEDAM'
			)
		where rn >= #{start}
	</select>
	
	<!-- 페이징에 전체숫자 알려주기 위해서 -->
	<select id="count" parameterType="BhfBarcodeSearchDTO">
		SELECT COUNT(w.warehouse_code)
		FROM   bhf_warehouse w
	</select>

</mapper>