<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.beauty1nside.bhf.mapper.BhfReturnListMapper">

	<!-- 교환및반품 조회 -->
	<select id="returnList" resultType="BhfReturnListDTO" parameterType="BhfReturnListSearchDTO">
		select returning_code, 
			   request_date, 
			   progress_status, 
			   return_remark
		from (  select /*+INDEX_DESC(bhf_returning pk_bhf_returning)*/
					   rownum rn,
					   returning_code, 
					   request_date, 
					   progress_status, 
					   return_remark
				from   bhf_returning
		<![CDATA[
			where rownum <= #{end}
		]]>
			and <include refid="searchInfo"></include>
			)
		where rn >= #{start}
	</select>
	
	<!-- 교환및반품 상세 조회 -->
	<select id="returnDetailList" resultType="BhfReturnListDTO" parameterType="BhfReturnListSearchDTO">
		select goods_name, 
			   option_name, 
			   quantity, 
			   exchange_returning_choice, 
			   returning_reason
		from (select /*+INDEX_DESC(bhf_returning_detail pk_bhf_returning_detail)*/
					 rownum rn, 
					 goods_name, 
				     option_name, 
				     quantity, 
				     exchange_returning_choice, 
				     returning_reason
			 from    bhf_returning_detail
		<![CDATA[
			where rownum <= #{end}
		]]>
			and returning_code = #{returningCode} 
			)
		where rn >= #{start}
	</select>
	
	<!-- 페이징에 전체숫자 알려주기 위해서 -->
	<select id="count" parameterType="BhfReturnListSearchDTO">
		SELECT COUNT(returning_code)
		FROM bhf_returning
		<where>
			<include refid="searchInfo"></include>
		</where>
	</select>
	
	<!-- 검색조건(검색을 안하면 그냥 조회가 되게) -->
	<sql id="searchInfo">
		company_num = 1<!-- #{companyNum}  -->
		<if test="progressStatus != null and ! progressStatus.equals('')">
			AND progress_status = #{progressStatus}
		</if>
		<if test="requestDate != null and ! requestDate.equals('')">
			AND TO_CHAR(request_date, 'yyyy-mm-dd') = #{requestDate}
		</if>
		<if test="branchOfficeId != null and ! branchOfficeId.equals('')">
			AND branch_office_id LIKE '%' || #{branchOfficeId} || '%'
		</if>
	</sql>

</mapper>