<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.beauty1nside.bhf.mapper.BhfReturnMapper">

	<!-- 창고에 있는 상품 조회 -->
	<select id="goodsList" resultType="BhfGdsOptDTO" parameterType="BhfGdsOptSearchDTO">
		SELECT DISTINCT 
	   		   goods_code, 
	   		   goods_name, 
	   	  	   goods_standard
		FROM (SELECT DISTINCT 
					 rownum rn,
			   		 goods_code, 
			   		 goods_name, 
			   		 goods_standard
			  FROM   bhf_warehouse
		<![CDATA[
			where rownum <= #{end}
		]]>
			and <include refid="searchInfo"></include>
			)
		where rn >= #{start}
	</select>
	
	<!-- 상품 옵션 조회 -->
	<select id="optionList" resultType="BhfGdsOptDTO" parameterType="BhfGdsOptSearchDTO">
		SELECT goods_code, 
			   goods_name, 
			   option_code, 
			   option_name
		FROM (SELECT rownum rn,
			 	     goods_code, 
				     goods_name, 
				     option_code, 
				     option_name
			  FROM   bhf_warehouse
		<![CDATA[
			where rownum <= #{end}
		]]>
			and <include refid="searchInfo"></include>
			)
		where rn >= #{start}
	</select>
	
	<!-- 페이징에 전체숫자 알려주기 위해서 -->
	<select id="count" parameterType="BhfGdsOptSearchDTO">
		SELECT COUNT(*)
		FROM   bhf_warehouse
		<where>
			<include refid="searchInfo"></include>
		</where>
	</select>
	
	<!-- 검색조건(검색을 안하면 그냥 조회가 되게) -->
	<sql id="searchInfo">
			company_num = 1<!-- #{companyNum}  -->
			<if test="goodsCode != null and ! goodsCode.equals('')">
				AND goods_code = #{goodsCode}
			</if>
			<if test="goodsName != null and ! goodsName.equals('')">
				AND goods_name Like '%' || #{goodsName} || '%'
			</if>
	</sql>

</mapper>