<!doctype html>
<html lang="en"
      layout:decorate="~{layouts/layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml"
>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
    <style>
        #viewer {
            background-color: white;
            padding: 20px;
            border-radius: 8px;
            margin-top: 40px;
        }


    </style>
</head>
<body layout:fragment="content">
    <h3>결제 요청 문서</h3>
    <span id="approvalId" th:data-approval-id="${inApprovalId}"></span>
    <div id="viewer">

    </div>
    <script>
    const approvalId = document.getElementById("approvalId").dataset.approvalId
    const url = `/api/mainpage/approval/${approvalId}`;
    fetch(url, {
        method: "GET",
        headers: {
            "Content-Type": "application/json",
        }
    })
        .then(result => result.json())
        .then(data => {
            showDocument(data)
        })
        .catch(error => console.error("Error fetching data:", error));

    const showDocument = (data) => {
        toastui.Editor.factory({
            el: document.querySelector('#viewer'),
            viewer: true,
            initialValue: data.inApprovalRequestContent
        });
    }

</script>
</body>

</html>

