<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
</head>
<body>
<h3>결제 요청 문서</h3>
<span id="approvalId" th:data-approval-id="${inApprovalId}"></span>
</body>
<script>
    const approvalId = document.getElementById("approvalId").dataset.approvalId
    const url = `/api/mainpage/approval/${approvalId}`;
    fetch(url, {
        method: "GET",
        headers: {
            "Content-Type": "application/json",
        }
    })
        .then(result => result.json())
        .then(data => {
            document.body.innerHTML += data.inApprovalRequestContent;
        })
        .catch(error => console.error("Error fetching data:", error));

</script>
</html>

