<!--<body>-->
<!--	<div class="container">-->
<!--		<div class="search-grid">-->
<!--			<div class="row 1row">-->
<!--				<div class="col-5 row">-->
<!--					<label  class="label-search col-4" for="inApprovalStatus"></label>-->
<!--					<select name="inApprovalStatus" id="inApprovalStatus" class="col-8 input-box">-->
<!--						<option value="" selected>선택</option>-->
<!--						<option value="waiting">대기</option>-->
<!--						<option value="approved">승인</option>-->
<!--						<option value="rejected">반려</option>-->
<!--					</select>-->
<!--				</div>-->
<!--			</div>-->
<!--			<div class="row 2row">-->
<!--				<div class="col-1"></div>-->
<!--				<div class="col-5 row ">-->
<!--					<label class="label-search col-4" for="requester">요청자</label>-->
<!--					<input type="text" name="requester" id="requester" class="col-8 input-box">-->
<!--				</div>-->
<!--				<div class="col-1"></div>-->
<!--				<div class="col-5 row ">-->
<!--					<label class="label-search col-4" for="display_amount">표시수량</label>-->
<!--					<select name="display_amount" id="display_amount" class="col-8 input-box" onchange="changeDisplay()">-->
<!--						<option value="5" selected>5</option>-->
<!--						<option value="10">10</option>-->
<!--						<option value="20">20</option>-->
<!--						<option value="50">50</option>-->
<!--						<option value="100">100</option>-->
<!--					</select>-->
<!--				</div>-->
<!--			</div>-->
<!--			<div class="row 3row">-->
<!--				<div class="col-4"></div>-->
<!--				<button type="button" class="btn btn-primary col-1" onclick="search()">검색</button>-->
<!--				<div class="col-1"></div>-->
<!--				<button type="button" class="btn btn-secondary col-1" onclick="reset()">초기화</button>-->
<!--			</div>-->

<!--		</div>-->
<!--		&lt;!&ndash; 그리드 &ndash;&gt;-->
<!--		<div id="table-container">-->
<!--			<div id="grid"></div>-->
<!--			<div id="pagination" class="tui-pagination"></div>-->
<!--		</div>-->
<!--    &lt;!&ndash; 하부 버튼 &ndash;&gt;-->
<!--&lt;!&ndash;		<div class="button-bar row">&ndash;&gt;-->
<!--&lt;!&ndash;			<div class="col-1"></div>&ndash;&gt;-->
<!--&lt;!&ndash;			<button type="button" class="btn btn-primary col-1">Excel</button>&ndash;&gt;-->
<!--&lt;!&ndash;			<button type="button" class="btn btn-secondary col-1">PDF</button>&ndash;&gt;-->
<!--&lt;!&ndash;			<div class="col-7"></div>&ndash;&gt;-->
<!--&lt;!&ndash;			<div class="btn-group dropup col-2">&ndash;&gt;-->
<!--&lt;!&ndash;				<button type="button" class="btn btn-success unpay">미지급금등록</button>&ndash;&gt;-->
<!--&lt;!&ndash;				<button type="button" class="btn btn-success dropdown-toggle dropdown-toggle-split" id="dropupMenuSplitButton3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">&ndash;&gt;-->
<!--&lt;!&ndash;					<span class="sr-only"></span>&ndash;&gt;-->
<!--&lt;!&ndash;				</button>&ndash;&gt;-->
<!--&lt;!&ndash;				<div class="dropdown-menu" aria-labelledby="dropupMenuSplitButton3">&ndash;&gt;-->
<!--&lt;!&ndash;					<h6 class="dropdown-header">채무 등록</h6>&ndash;&gt;-->
<!--&lt;!&ndash;					<a class="dropdown-item" href="#">외상매입금 등록</a>&ndash;&gt;-->
<!--&lt;!&ndash;					<a class="dropdown-item" href="#">대출금 등록</a>&ndash;&gt;-->
<!--&lt;!&ndash;					<div class="dropdown-divider"></div>&ndash;&gt;-->
<!--&lt;!&ndash;					<a class="dropdown-item" href="#">미지급금 등록</a>&ndash;&gt;-->
<!--&lt;!&ndash;				</div>&ndash;&gt;-->
<!--&lt;!&ndash;			</div>&ndash;&gt;-->
<!--&lt;!&ndash;		</div>&ndash;&gt;-->
<!--	</div>-->
<!--<script>-->

<!--	document.addEventListener("DOMContentLoaded",()=>{-->
<!--		// grid.readData(1);-->
<!--	})-->
<!--	// function gotobtn(){-->
<!--	// 	document.querySelector(".dropup").addEventListener("click", ()=>{-->
<!--	// 		if(event.target.className.includes("unpay")){-->
<!--	// 			console.log("미지급금");-->
<!--	// 		} else if(event.target.className.includes("dropdown-item")){-->
<!--	// 			switch (event.target.innerHTML) {-->
<!--	// 				case "외상매입금 등록":-->
<!--	// 					console.log("외상매입금")-->
<!--	// 					break;-->
<!--	// 				case "대출금 등록":-->
<!--	// 					console.log("대출금")-->
<!--	// 					break;-->
<!--	// 				case "미지급금 등록":-->
<!--	// 					console.log("미지급금")-->
<!--	// 					break;-->
<!--	// 				default:-->
<!--	// 					break;-->
<!--	// 			}-->
<!--	// 		}-->
<!--	//-->
<!--	// 	})-->
<!--	// }-->

<!--	let Grid = tui.Grid;-->

<!--	const dataSource = {-->
<!--		api: {-->
<!--			readData: { url: 'http://localhost:81/mainpage/rest/approval/list', method: 'GET', initParams: { page: 1 } },-->
<!--			contentType: 'application/json'-->
<!--		},-->


<!--	};-->

<!--	const grid = new Grid({-->
<!--		el : document.querySelector('#grid'),-->
<!--		pageOptions: {-->
<!--			useClient : false,-->
<!--			perPage: 5,-->
<!--		},-->
<!--		columns: [-->
<!--			{ header : "결재번호", name : "inApprovalId",  sortable : true},-->
<!--			{ header : "문서번호", name : "documentId",  sortable : true},-->
<!--			{ header : "요청자번호", name : "employeeNum",  sortable : true},-->
<!--			{ header : "결재요청 날짜", name : "inApprovalRequestDate",  sortable : true},-->
<!--			{ header : "상태", name : "inApprovalStatus",  sortable : true},-->
<!--			{ header : "요청 내용", name : "inApprovalRequestContent",  sortable : true},-->
<!--			{ header : "반려 내용", name : "inApprovalRejectedContent",  sortable : true},-->
<!--			{ header : "승인 파일 주소", name : "inApprovalFilePath",  sortable : true}-->
<!--		],-->
<!--		data : dataSource,-->
<!--	});-->



<!--	function changeDisplay() {-->
<!--		let gap = parseInt(document.querySelector('#display_amount').value);-->
<!--		grid.setPerPage(gap, dataSource)-->
<!--	}-->

<!--	function search(){-->
<!--		let section = document.querySelector('#section').value.toString();-->
<!--		let requester = document.querySelector('#requester').value.toString();-->
<!--		grid.setRequestParams({"section" : section, "requester" : requester })-->
<!--		grid.readData();-->
<!--	}-->

<!--	function reset(){-->
<!--		let section = document.querySelector('#section');-->
<!--		let requester = document.querySelector('#requester');-->

<!--		section.value = '';-->
<!--		requester.value = '';-->


<!--		grid.setRequestParams({ "section" : section.value, "requester" : requester.value })-->
<!--		grid.readData();-->

<!--	}-->

<!--</script>-->

<!--</body>-->

