<!DOCTYPE html>
<html layout:decorate="~{layouts/layout}"
      lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>상품 입고</title>
</head>
<body layout:fragment="content">
	<div class="container">
		<div class="row">
			<h3 class="mt-2 mb-2">상품 입고</h3>
			<hr>
			<div class="col-md-6 mt-2 mb-5">
				<div class="row">
					<label class="col-sm-4">발주 일자</label> 
					<input type="date"class="col-sm-5" id="orderDate"> 
					<button type="button" class="col-sm-2" onclick="search()">검색</button>
				</div>
			</div>
			<div class="col-md-6 mt-2 mb-5">
				<div class="row">
					<label class="col-sm-4">주문 지점</label> 
					<input type="text"class="col-sm-7" id="branchOfficeId">
				</div>
			</div>
			<div class="col-md-6 stretch-card mt-2 mb-2">
				<div class="card">
					<div class="card-body">
						<h6 class="mb-4">주문서</h6>
						<div id="order"></div>
						<div id="pagination" class="tui-pagination"></div>
					</div>
				</div>
			</div>
			<div class="col-md-6 stretch-card mt-2 mb-2">
				<div class="card">
					<div class="card-body">
						<h6 class="mb-4">주문 상세</h6>
						<div id="orderDtl"></div>
						<div id="pagination" class="tui-pagination"></div>
					</div>
				</div>
			</div>
			<div class="col-md-12 mt-2 mb-2">
				<div class="row">
					<div class="col-sm-8"></div>
					<button class="col-sm-1" onclick="goodsInsert()">등록</button>
					<button class="col-sm-1" onclick="reset()">초기화</button>
					<div class="col-sm-2"></div>
				</div>
			</div>
		</div>
	</div>
	
	<script>
	var Grid = tui.Grid;
	
	//페이지가 로드되면 테이블에 데이터가 없을때 뜨는 문구 함수 실행
	document.addEventListener("DOMContentLoaded",()=>{
		ORDnodata();
	})
	
	// 주문 조회 쿼리 호출
	const dataSource = {
		api: {
			readData: { url: 'http://localhost:81/bhf/rest/bsn/order', method: 'GET', initParams: { page: 1 }},
		},
		contentType: 'application/json'
		
	};
	// 주문 테이블
	const grid = new Grid({
		el: document.getElementById('order'), 
		pageOptions: {
			useClient: false,
			perPage: 5,
		},
		columns: [ 
			{ header : "주문번호", name : "orderId"},
			{ header : "발주서코드", name : "orderCode"},
			{ header : "발주일자", name : "orderDate"},
			{ header : "납기일자", name : "dueDate"},
			{ header : "비고", name : "remark"}
		],
		data: dataSource
	});
	// 주문 테이블 행 선택
	grid.on('click', (ev) => {
		const rowKey = ev.rowKey;  	// 클릭된 행의 키값
		if(rowKey != undefined){ 	// 행 말고 다른데 클릭해도 이 함수가 실행되서 행의 키값이 있을때만 실행되게 함
			
			const rowData = grid.getRow(rowKey); //해당 행의 데이터 가져오기
			const orderId = rowData.orderId; // 주문서 코드
			
			// 주문서 상세 조회 쿼리호출(orderId)
		    fetch('http://localhost:81/bhf/rest/bsn/ordlist?orderId=' + orderId, {
		        method: 'GET',
		        headers: {
		            'Content-Type': 'application/json'
		        }
		    })
		    .then(response => response.json())
		    .then(data => {
		        grid2.resetData(data.data.contents);  // 교환및반품 상세 테이블 데이터 업데이트
		    })
		    .catch(error => console.error("데이터 요청 실패:", error));
		}
	});
	
	// 주문 상세 테이블
	const grid2 = new Grid({
		el: document.getElementById('orderDtl'), 
		pageOptions: {
			useClient: false,
			perPage: 5,
		},
		columns: [ 
			{ header : "지점명", name : "branchOfficeId", hidden : 1},
			{ header : "상품코드", name : "goodsCode", hidden : 1},
			{ header : "옵션코드", name : "optionCode", hidden : 1},
			{ header : "상품명", name : "goodsName"},
			{ header : "옵션명", name : "optionName"},
			{ header : "규격", name : "goodsStandard"},
			{ header : "발주수량", name : "quantity"},
			{ header : "낱개수량", name : "stockQuantity"}, //창고에 들어갈 수량
			{ 
				header : "입고수량", 
				name : "inQuantity", 
				editor: 'text',
				onAfterChange: function(ev) {
					
					let rowKey = ev.rowKey;
					let inQuantity = ev.value; // 입고수량 값 가져오기
			        let rowData = grid2.getRow(rowKey); // 해당 행 데이터 가져오기
			        let goodsStandard = rowData.goodsStandard; // 데이터에서 규격 가져오기
			        let quantity = rowData.quantity; // 발주수량 가져오기
			        
			        // 규격에서 숫자만 추출(앞에 숫자는 뺴고)
			        let standardValue = goodsStandard.replace(/^[0-9]|[^0-9]/g, ""); 
			        // 낱개수량 계산
			        let stockQuantity = inQuantity * standardValue;
			        // 그리드 값 업데이트
			        grid2.setValue(rowKey, "stockQuantity", stockQuantity); // 계산된 값 적용
			        
			        // 발주수량이랑 입고수량 비교(재발주수량)
			        let reorder = Math.abs(quantity - inQuantity); // Math.abs() 음수를 양수로 변경
			        grid2.setValue(rowKey, "reorder", reorder);
			        // 재발주수량에 낱개수량 구해서 반품수량 구하기
			        let returnNum = reorder * standardValue;
			        grid2.setValue(rowKey, "returnNum", returnNum);
			        
			        // 입고수량에 숫자를 제외한 값들이 들어오면
			        if (!/^[0-9]*$/.test(ev.value)) {
	                    grid2.setValue(ev.rowKey, ev.columnName, '');  // 해당 셀을 비웁니다
	                    alert("수량은 숫자만 입력할 수 있습니다.");
	                }
				}
			},
			{ header : "재발주수량",  name : "reorder"},
			{ header : "반품수량",  name : "returnNum"}
		],
		data: ""
	});
	
	// 상품입고 등록 함수
	function goodsInsert(){
		
		//프로시저로 처리하면 여기서 값 다 보내줘야된다 발주수량이랑 입고수량 차이나는 수량 변수에 담아서
		
		let returnData = grid2.getData();
		
		// 테이블에 데이터가 있는지 확인
		if (returnData.length === 0) {
	        alert("입고할 상품을 추가해주세요.");
	        return;
	    }
		// 발주 수량을 적었는지 확인
		for (let i = 0; i < returnData.length; i++) {
			
			const stockQuantity = Number(returnData[i].stockQuantity); // 문자열을 숫자로 변환(0도 비교하기 위해서)
			
		    if (stockQuantity === 0 || stockQuantity === "" || stockQuantity === null) {  // 수량이 비어있는지 확인
	            alert("수량을 입력해주세요.");
	            return;  // 수량이 없으면 더 이상 진행하지 않음
	        }
	    }

	     let returnInfo = {
	        files: returnData,  // 상세 내역 (상품 정보)
	        branchOfficeId: document.querySelector('#branchOfficeId').value, //주문 지점
	        remark: document.querySelector('#remark').value,  // 비고
	        companyNum: 1 // 아직 회사번호를 가져올떄가 없어서 1로 넣었놨음
	    };
 	    fetch("http://localhost:81/bhf/rest/", {
	        method: "POST",
	        headers: {
	            "Content-Type": "application/json",
	            //위에 변수로 저장한 헤더이름,토큰값 넣어주기
	        	'header': header, 
	            'X-CSRF-Token': token
	        },
	        body: JSON.stringify(returnInfo) // returnInfo 객체를 JSON 형식으로 변환(JSON.parse는 JSON을 객체로 변환)
	    })
	    .then(response => response.json())
	    .then(data => {
	        if (data.status === "success") {
	            alert("교환 및 반품 등록 성공");
	         	// 등록 후 초기화
	         	document.getElementById('branchOfficeId').value = "";
				document.getElementById('remark').value = "";
	            grid2.resetData([]);
	           
	        } else {
	            alert("교환 및 반품 등록 실패: " + data.message);
	        }
	        //테이블 데이터 없을떄 나오는 문구 다시 실행
	        OPnodata();
	        RTnodata();
	    })  
	}
	
	// 초기화 버튼 함수
	function reset(){
		grid2.resetData([]);
     	//테이블 데이터 없을떄 나오는 문구 다시 실행
        ORDnodata();
	}
	
	// 검색 함수
	function search(){
		console.log("check")
		// 값 가져와서 변수선언
		let orderDate = document.querySelector('#orderDate').value;
		// 객체로 담을 변수선언
		let parameter = {};
		// 객체 담기
		// sql로 선언한 Date는 null값이 들어가면 오류가 나서 null이 아닐때 넣는거로 선언
		if(orderDate != ''){
			parameter.orderDate = orderDate;
		}
		// 검색 조건들 보내기
		grid.setRequestParams(parameter);
		grid.readData();
		//데이터가 없으면 뜨는 문구
		ORnodata();
	}
	
	// 주문 테이블 데이터 없을때 나오는 문구
	function ORnodata(){
		setTimeout( () => {
			let nodata = document.querySelectorAll('.tui-grid-layer-state-content p')[0];
			nodata.innerHTML = '해당하는 데이터가 없습니다.';
		}, 100)
	}
	// 주문 상세 테이블 데이터 없을때 나오는 문구
	function ORDnodata(){
		setTimeout( () => {
			let nodata = document.querySelectorAll('.tui-grid-layer-state-content p')[1];
			nodata.innerHTML = '주문서를 선택 해주세요';
		}, 100)
	}
	</script>
	
</body>
</html>