<!DOCTYPE html>
<html layout:decorate="~{layouts/layout}"
      lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>재고 조정 내역</title>
</head>
<body layout:fragment="content">
	<div class="container">
		<div class="row">
			<h3 class="mt-2 mb-2">재고 조정 내역</h3>
			<hr>
			<div class="col-md-12 stretch-card mt-5 mb-5">
				<div class="card">
					<div class="card-body">
						<h6 class="mb-4">조정 내역 조회</h6>
						<div id="invenHistory"></div>
						<div id="pagination" class="tui-pagination"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<script>
		var Grid = tui.Grid;
		
		// 재고 조정 조회 쿼리 호출
		const dataSource = {
			api: {
				readData: { url: 'http://localhost:81/bhf/rest/inventory/history', method: 'GET', initParams: { page: 1 }},
			},
			contentType: 'application/json'
			
		};
		// 재고 조정 조회 테이블
		const grid = new Grid({
			el: document.getElementById('invenHistory'), 
			pageOptions: {
				useClient: false,
				perPage: 5,
			},
			columns: [ 
				{ header : "상품코드", name : "goodsCode"},
				{ header : "상품명", name : "goodsName"},
				{ header : "옵션코드", name : "optionCode"},
				{ header : "옵션명", name : "optionName"},
				{ header : "규격", name : "goodsStandard"},
				{ header : "조정수량", name : "mediationQuantity"},
				{ header : "조정사유", name : "mediationReason"}
			],
			data: dataSource
		});
		
	</script>
	
</body>
</html>