<!DOCTYPE html>
<html layout:decorate="~{layouts/layout}"
      lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>상품 발주 조회</title>
</head>
<body layout:fragment="content">
	<div class="container">
		<div class="row">
			<h3 class="mt-2 mb-2">상품 발주 조회</h3>
			<hr>
			<div class="col-md-6 mt-2 mb-2">
				<div class="row">
					<label class="col-sm-4">주문 지점</label> 
					<input type="text"class="col-sm-7" id="branchOfficeId"> 
				</div>
			</div>
			<div class="col-md-6 mt-2 mb-2">
				<div class="row">
					<div class="col-sm-1"></div>
					<label class="col-sm-4">진행 상태</label> 
					<select name="progressStatus" id="progressStatus" class="col-sm-7">
						<option value="" selected>선택 하세요.</option>
						<option value="신청">신청</option>
						<option value="승인">승인</option>
						<option value="취소">취소</option>
						<option value="출고">출고</option>
						<option value="완료">완료</option>
					</select>
				</div>
			</div>
			<div class="col-md-6 mt-2 mb-2">
				<div class="row">
					<label class="col-sm-4">발주 일자</label> 
					<input type="date"class="col-sm-7" id="orderDate"> 
				</div>
			</div>
			<div class="col-md-6 mt-2 mb-2">
				<div class="row">
					<div class="col-sm-1"></div>
					<label class="col-sm-4">납기 일자</label> 
					<input type="date"class="col-sm-7" id="dueDate">
				</div>
			</div>
			<div class="col-md-12 mt-2 mb-2">
				<div class="row">
					<div class="col-sm-5"></div>
					<button class="col-sm-1" onclick="search()">검색</button>
					<button class="col-sm-1" onclick="reset()">초기화</button>
					<div class="col-sm-5"></div>
				</div>
			</div>
			<div class="col-md-12 stretch-card mt-2 mb-5">
				<div class="card">
					<div class="card-body">
						<h6 class="mb-4">발주서</h6>
						<div id="orderList"></div>
						<div id="pagination" class="tui-pagination"></div>
					</div>
				</div>
			</div>
			<div class="col-md-12 stretch-card mt-2 mb-5">
				<div class="card">
					<div class="card-body">
						<h6 class="mb-4">발주서 상세</h6>
						<div id="orderListDetail"></div>
						<div id="pagination" class="tui-pagination"></div>
					</div>
				</div>
			</div>
			<div class="col-md-12 mt-2 mb-2" id="cancelSection" style="display: none">
				<h6 class="mb-3">상품 발주 취소사유</h6>
				<div class="row">
					<input type="text"class="col-sm-11" id="ordCancle"> 
					<button class="col-sm-1" id="cancelButton" onclick="orderCancle()">발주 취소</button>
				</div>
			</div>
		</div>
	</div>
	
	<script>
		var Grid = tui.Grid;
		
		// 발주서 취소시 필요한 발주서코드,진행상태 담기 위해 변수선언
		let cancelOrdCd = null;
		let status = null;
		
		//페이지가 로드되면 테이블에 데이터가 없을때 뜨는 문구 함수 실행
		document.addEventListener("DOMContentLoaded",()=>{
			OLDnodata();
		})
		
		// 발주서조회 쿼리 호출
		const dataSource = {
			api: {
				readData: { url: 'http://localhost:81/bhf/rest/order/list', method: 'GET', initParams: { page: 1 }},
			},
			contentType: 'application/json'
			
		};
		// 발주서 테이블
		const grid = new Grid({
			el: document.getElementById('orderList'), 
			pageOptions: {
				useClient: false,
				perPage: 5,
			},
			columns: [ 
				{ header : "발주서코드", name : "orderCode"},
				{ header : "지점", name : "branchOfficeId"},
				{ header : "발주일자", name : "orderDate"},
				{ header : "납기일자", name : "dueDate"},
				{ header : "진행상태", name : "progressStatus"},
				{ header : "비고", name : "remark"}
			],
			data: dataSource
		});
		// 발주서 테이블 행 선택
		grid.on('click', (ev) => {
			const rowKey = ev.rowKey;  	// 클릭된 행의 키값
			if(rowKey != undefined){ 	// 행 말고 다른데 클릭해도 이 함수가 실행되서 행의 키값이 있을때만 실행되게 함
				
				const rowData = grid.getRow(rowKey); //해당 행의 데이터 가져오기
				const orderCode = rowData.orderCode; // 발주서 코드
				const progressStatus = rowData.progressStatus; // 진행 상태
				
				// 발주서 상세 조회 쿼리호출(orderCode)
			    fetch('http://localhost:81/bhf/rest/order/detail?orderCode=' + orderCode, {
			        method: 'GET',
			        headers: {
			            'Content-Type': 'application/json'
			        }
			    })
			    .then(response => response.json())
			    .then(data => {
			        grid2.resetData(data.data.contents);  // 발주서 상세 테이블 데이터 업데이트
			    })
			    .catch(error => console.error("데이터 요청 실패:", error));
				
				// 상품 발주 취소 UI 처리
		        const cancelSection = document.getElementById('cancelSection'); // 취소 영역 전체
		        const cancelButton = document.getElementById('cancelButton'); // 취소 버튼
		        const ordCancle = document.getElementById('ordCancle'); // 취소사유

		        if (progressStatus === '신청') {
		        	cancelSection.style.display = 'block'; 
		            cancelButton.style.display = 'block'; 
		            ordCancle.readOnly = false; 
		        } else if (progressStatus === '취소') {
		        	cancelSection.style.display = 'block'; // 취소 영역 보이기
		            cancelButton.style.display = 'none'; // 버튼 숨기기
		            ordCancle.readOnly = true; // 읽기 전용
		        } else {
		        	cancelSection.style.display = 'none'; 
		        }
		        
		        // 발주서 취소시 필요한 발주서 코드 저장
		        cancelOrdCd = rowData.orderCode;
				
			}
		});
		
		// 발주서 상세 테이블
		const grid2 = new Grid({
			el: document.getElementById('orderListDetail'), 
			pageOptions: {
				useClient: false,
				perPage: 5,
			},
			columns: [ 
				{ header : "발주서코드", name : "orderCode"},
				{ header : "상품코드", name : "goodsCode"},
				{ header : "상품명", name : "goodsName"},
				{ header : "옵션코드", name : "optionCode"},
				{ header : "옵션명", name : "optionName"},
				{ header : "규격", name : "goodsStandard"},
				{ header : "수량", name : "quantity"}
			],
			data: ""
		});
		
		// 발주서 취소
		function orderCancle(){
			let orderCancelReason = document.querySelector('#ordCancle').value;
			let orderCode = cancelOrdCd;
			
			// 취소사유 확인
 			if(!orderCancelReason){
				alert("취소 사유를 작성해주세요.");
			    return;
			}  
			
 			// 발주서 취소 쿼리호출
 		    fetch('http://localhost:81/bhf/rest/order/cancel', {
 		        method: 'POST',
 		        headers: {
 		            'Content-Type': 'application/json'
 		        },
 		        body: JSON.stringify({
	            	orderCode: orderCode,
 		           	orderCancelReason: orderCancelReason
 		        })
 		    })
 		   .then(response => response.text()) // 컨트롤에서 문자열로 반환해서 .text 사용
 		    .then(message => {
 		        alert(message); // "발주가 취소되었습니다." 메시지 출력

 		        // **프론트엔드 UI 업데이트 (진행 상태 '취소'로 변경)**
 		        //grid.setValue(selectedRow.rowKey, "progressStatus", "취소");

 		        // 취소사유 입력 필드 읽기 전용으로 변경
 		        document.querySelector('#ordCancle').readOnly = true;
 		        document.querySelector('#cancelButton').style.display = 'none';
 		    })
 		    .catch(error => {
 		        console.error("취소 요청 실패:", error);
 		        alert("발주 취소 중 오류가 발생했습니다.");
 		    });
			
		}
		
		// 검색 함수
		function search(){
			// 값 가져와서 변수선언
			let branchOfficeId = document.querySelector('#branchOfficeId').value;
			let progressStatus = document.querySelector('#progressStatus').value;
			let orderDate = document.querySelector('#orderDate').value;
			let dueDate = document.querySelector('#dueDate').value;
			// 객체로 담을 변수선언
			let parameter = {};
			// 객체 담기
			parameter.branchOfficeId = branchOfficeId;
			parameter.progressStatus = progressStatus;
			// sql로 선언한 Date는 null값이 들어가면 오류가 나서 null이 아닐때 넣는거로 선언
			if(orderDate != ''){
				parameter.orderDate = orderDate;
			}
			if(dueDate != ''){
				parameter.dueDate = dueDate;
			}
			// 검색 조건들 보내기
			grid.setRequestParams(parameter);
			grid.readData();
			//데이터가 없으면 뜨는 문구
			OLnodata();
		}
		
		// 검색 초기화 함수
		function reset(){
			// 입력칸 빈칸으로 변경
			let branchOfficeId = document.querySelector('#branchOfficeId').value = '';
			let progressStatus = document.querySelector('#progressStatus').value = '';
			let orderDate = document.querySelector('#orderDate').value = '';
			let dueDate = document.querySelector('#dueDate').value = '';
			// 빈 값을 보냄
			grid.setRequestParams({});
			grid.readData();
		}
		
		// 발주리스트 테이블 데이터 없을때 나오는 문구
		function OLnodata(){
			console.log("nodata실행")
			setTimeout( () => {
				let nodata = document.querySelectorAll('.tui-grid-layer-state-content p')[0];
				nodata.innerHTML = '해당하는 데이터가 없습니다.';
			}, 100)
		}
		// 발주상세리스트 테이블 데이터 없을때 나오는 문구
		function OLDnodata(){
			setTimeout( () => {
				let nodata = document.querySelectorAll('.tui-grid-layer-state-content p')[1];
				nodata.innerHTML = '발주서를 선택 해주세요';
			}, 100)
		}
		
	</script>
</body>
</html>