<!DOCTYPE html>
<html layout:decorate="~{layouts/layout}"
      lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>교환 및 반품 요청</title>
</head>
<body layout:fragment="content">
	<div class="container">
		<div class="row">
			<h3 class="mt-2 mb-2">교환 및 반품 요청</h3>
			<hr>
			<div class="col-md-12 stretch-card mt-3 mb-5">
				<div class="card">
					<div class="card-body">
						<h5 class="mb-4">상품 바코드</h5>
						<hr>
						<div class="row">
							<div class="col-sm-1"></div>
							<input type="text"class="col-sm-10" id="searchInput" style="text-align:center;  height:50px;" placeholder="바코드를 스캔하거나 바코드 숫자를 입력 후 엔터를 눌러주세요.">
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-12 stretch-card mt-3 mb-5">
				<div class="card">
					<div class="card-body">
						<h5 class="mb-4">상품 정보</h5>
						<div id="barcode"></div>
						<div id="pagination" class="tui-pagination"></div>
					</div>
				</div>
			</div>
			<div class="col-md-12 stretch-card mt-3 mb-5">
				<div class="card">
					<div class="card-body">
						<h5 class="mb-4">반품 요청서</h5>
						<div class="row mb-3">
							<label class="col-sm-1">지점명</label> 
							<input type="text" class="col-sm-2" id="branchOfficeId">
							<div class="col-sm-1"></div>
							<label class="col-sm-1">비고</label> 
							<input type="text" class="col-sm-6" id="returnRemark">
						</div>
						<div id="returns"></div>
						<div id="pagination" class="tui-pagination"></div>
						<div style="text-align : center">
							<button onclick="returnInsert()">등록</button>
							<button onclick="reset()">초기화</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<script>
		const header = document.querySelector('meta[name="_csrf_header"]').content; //서버에서 요구하는 CSRF 헤더이름
	    const token = document.querySelector('meta[name="_csrf"]').content; //서버에서 생성한 CSRF 토큰 값
	
		var Grid = tui.Grid;
		
		//페이지가 로드되면 테이블에 데이터가 없을때 뜨는 문구 함수 실행
		document.addEventListener("DOMContentLoaded",()=>{
			
			document.getElementById("searchInput").focus();
			
			nodata();
			RTnodata();
		})
		
        function search() {
            let goodsBarcode = document.getElementById("searchInput").value.trim(); //.trim() 공백을 없애준다
            if (goodsBarcode !== "") {
                // 여기서 검색 기능을 실행 (예: 서버 요청)
	            console.log(goodsBarcode)
	         	
	            fetch('http://localhost:81/bhf/rest/barcode/list?goodsBarcode=' + goodsBarcode, {
			        method: 'GET',
			        headers: {
			            'Content-Type': 'application/json'
			        }
			    })
			    .then(response => response.json())
			    .then(data => {
			        grid.resetData(data.data.contents);  // 옵션 테이블 데이터 업데이트
			    })
			    .catch(error => console.error("데이터 요청 실패:", error));
                
            } else {
                alert("검색어를 입력하세요.");
            }
        }

        // 엔터 키 이벤트 감지
        document.getElementById("searchInput").addEventListener("keydown", function(event) {
            if (event.key === "Enter") { // Enter 키 감지
                //event.preventDefault(); // 폼 제출 방지 (필요시)
                search(); // 검색 실행
            }
        });
        
     	// 바코드 조회 테이블
		const grid = new Grid({
			el: document.getElementById('barcode'), // 컨테이너 엘리먼트
			pageOptions: {
				useClient: false,
				perPage: 5,
			},
			columns: [ 
				{ header : "지점명", name : "branchOfficeId"},
				{ header : "상품코드", name : "goodsCode"},
				{ header : "상품명", name : "goodsName"},
				{ header : "옵션코드", name : "optionCode"},
				{ header : "옵션명", name : "optionName"},
				{ header : "바코드", name : "goodsBarcode"},
				{ header : "상품LOT", name : "goodsLotNum"},
				{ header : "유통기한", name : "goodsConsumptionDate"}
			],
			data: ""
		});
		// 바코드 조회 테이블 행 선택
	    grid.on('click', (ev) => {
	        const rowData = grid.getRow(ev.rowKey); // 해당 행의 데이터 가져오기
	        if (rowData) {
	            const currentData = grid2.getData(); // 기존 데이터 가져오기

	            // 중복 체크(옵션코드가 동일한 행이 이미 있으면 추가하지 않음)
	            const check = currentData.find(item => item.optionCode === rowData.optionCode);
	            if (check) {
	                alert("이미 추가된 상품 입니다.");
	            } else {
	                // 기존 데이터에서 가장 큰 rowKey 찾기 (없으면 0부터 시작) 그 다음 1씩 추가해서 rowkey 만들기
	                const newRowKey = currentData.length > 0
	                    ? Math.max(...currentData.map(item => item.rowKey)) + 1
	                    : 0;

	                // 새로운 행에 rowKey 추가
	                const newRow = { ...rowData, rowKey: newRowKey };

	                // resetData 사용 시 기존 데이터의 rowKey도 재설정
	                const updatedData = [...currentData, newRow].map((item, index) => ({
	                    ...item,
	                    rowKey: index // 고유한 rowKey 부여
	                }));

	                grid2.resetData(updatedData);
	            }
	        }
	    });
		// 바코드 조회 테이블
		const grid2 = new Grid({
			el: document.getElementById('returns'), // 컨테이너 엘리먼트
/* 			pageOptions: {
				useClient: false,
				perPage: 5,
			}, */
			columns: [ 
				{ header : "지점명", name : "branchOfficeId", hidden: 1},
				{ header : "상품코드", name : "goodsCode", hidden: 1},
				{ header : "상품명", name : "goodsName"},
				{ header : "옵션코드", name : "optionCode", hidden: 1},
				{ header : "옵션명", name : "optionName"},
				{ header : "바코드", name : "goodsBarcode", hidden: 1},
				{ header : "상품LOT", name : "goodsLotNum"},
				{ header : "유통기한", name : "goodsConsumptionDate"},
				{ 
					header : "수량", 
					name : "quantity", 
					editor: 'text',
					onAfterChange: function(ev) { // onAfterChange는 해당 열에 변경이 있을때마다 호출되는 이벤트
		                // ev.value:사용자가 입력한 값, ev.rowkey:변경된 셀이 어떤 행인지 알려주는 키
		                // 값이 숫자만 포함하고 있는지 확인
		                const value = /^[0-9]*$/.test(ev.value); // 숫자만 허용하는 정규식
		                // 숫자가 아닌 값이 들어왔을 때 
		                if (!value) {
		                    grid2.setValue(ev.rowKey, ev.columnName, '');  // 해당 셀을 비웁니다
		                    alert("수량은 숫자만 입력할 수 있습니다.");
		                }
		            }
				},
				{ header : "교환 및 반품", name : "exchangeReturningChoice", editor: 'text'},
				{ header : "사유", name : "returningReason", editor: 'text'}
			],
			data: ""
		});
		
		// 교환,반품 등록 함수
		function returnInsert(){
			let returnData = grid2.getData();
			
			// 교환,반품 테이블에 데이터가 있는지 확인
			if (returnData.length === 0) {
		        alert("교환 및 반품할 상품을 추가해주세요.");
		        return;
		    }
			// 발주 수량을 적었는지 확인
			for (let i = 0; i < returnData.length; i++) {
				const quantity = Number(returnData[i].quantity); // 문자열을 숫자로 변환(0도 비교하기 위해서)
				const choice = returnData[i].exchangeReturningChoice;
				const reason = returnData[i].returningReason;
				
			    if (quantity === 0 || quantity === "" || quantity === null) {  // 수량이 비어있는지 확인
		            alert("수량을 입력해주세요.");
		            return;  // 수량이 없으면 더 이상 진행하지 않음
		        }
			    if (choice !== "교환" && choice !== "반품"){
			    	alert("교환,반품 둘중 하나를 적어주세요.");
			    	return;
			    }
			    if (reason === "" || reason === null){
			    	alert("사유를 작성 해주세요.");
			    	return
			    }
		    }
	
		     let returnInfo = {
		        files: returnData,  // 상세 내역 (상품 정보)
		        branchOfficeId: document.querySelector('#branchOfficeId').value, //주문 지점
		        returnRemark: document.querySelector('#returnRemark').value,  // 비고
		        companyNum: 1 // 아직 회사번호를 가져올떄가 없어서 1로 넣었놨음
		    };
	 	    fetch("http://localhost:81/bhf/rest/returning/insert", {
		        method: "POST",
		        headers: {
		            "Content-Type": "application/json",
		            //위에 변수로 저장한 헤더이름,토큰값 넣어주기
		        	'header': header, 
		            'X-CSRF-Token': token
		        },
		        body: JSON.stringify(returnInfo) // returnInfo 객체를 JSON 형식으로 변환(JSON.parse는 JSON을 객체로 변환)
		    })
		    .then(response => response.json())
		    .then(data => {
		        if (data.status === "success") {
		            alert("교환 및 반품 등록 성공");
		         	// 등록 후 초기화
		         	document.getElementById('branchOfficeId').value = "";
					document.getElementById('returnRemark').value = "";
					document.getElementById('searchInput').value = "";
		            grid.resetData([]);
		            grid2.resetData([]);  
		           
		        } else {
		            alert("교환 및 반품 등록 실패: " + data.message);
		        }
		        //테이블 데이터 없을떄 나오는 문구 다시 실행
		        nodata();
		        RTnodata();
		    })  
		}
		// 초기화 버튼 함수
		function reset(){
			document.getElementById('searchInput').value = "";
			grid2.resetData([]);
	        grid.resetData([]);
	     	//테이블 데이터 없을떄 나오는 문구 다시 실행
	        nodata();
	        RTnodata();
		}
		
		// 옵션 테이블 데이터 없을때 나오는 문구
		function nodata(){
			setTimeout( () => {
				let nodata = document.querySelectorAll('.tui-grid-layer-state-content p')[0];
				nodata.innerHTML = '창고에 있는 상품의 바코드를 입려해주세요.';
			}, 10)
		}
		// 교환 및 반품 테이블 데이터 없을때 나오는 문구
		function RTnodata(){
			setTimeout( () => {
				let nodata = document.querySelectorAll('.tui-grid-layer-state-content p')[1];
				nodata.innerHTML = '상품 정보를 선택 해주세요';
			}, 10)
		}

    </script>
	
</body>
</html>