<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.beauty1nside.bsn.mapper.BsnOrderMapper">


<!-- 발주 신청 조회 -->
<select id="selectBhfOrder" resultType="BhfOrderDTO">
SELECT ORDER_CODE
      ,branch_office_id
      ,order_date
      ,due_date
      ,remark
      ,company_num
      ,RN
FROM (
SELECT /*+ INDEX_ASC(BHF_ORDER PK_BHF_ORDER) */ 
      ROW_NUMBER() OVER (
              ORDER BY TO_NUMBER(REGEXP_SUBSTR(order_code, '\d+')) DESC, 
                       order_date DESC, 
                       due_date DESC
          ) AS RN
      ,ORDER_CODE
      ,branch_office_id
      ,order_date
      ,due_date
      ,remark
      ,company_num
FROM BHF_ORDER
WHERE progress_status = '신청'
-- AND   company_num = 1
<include refid="searchInfoBhfOrder"></include>

) WHERE RN BETWEEN #{start} AND #{end}




</select>






<select id="getCountOfBhfOrder" resultType="int">
SELECT COUNT(*) FROM BHF_ORDER
WHERE progress_status = '신청'
-- AND   company_num = 1
<include refid="searchInfoBhfOrder"></include>
</select>


<sql id="searchInfoBhfOrder">
	 
	<if test="deteOption != null and deteOption == 'orderDate' and  startDate != null">
		AND order_date >= #{startDate}
	</if>
	<if test="deteOption != null and deteOption == 'orderDate' and  endDate != null">
		<![CDATA[
		AND order_date < #{endDate}
		]]>
	</if>
	
	<if test="deteOption != null and deteOption =='dueDate' and  startDate != null">
		AND due_date >= #{startDate}
	</if>
	<if test="deteOption != null and deteOption == 'dueDate' and  endDate != null">
		<![CDATA[
		AND due_date <= #{endDate}
		]]>
	</if>
	
	
	
	
	<if test="branch != null and ! branch.equals('all')">
			AND branch_office_id Like '%' || #{branch} || '%'
	</if>
</sql>






<select id="selectBhfOrderDetail"  resultType="BhfOrderDetailDTO">
SELECT order_detail_code,
       order_code,
       goods_code,
       goods_name,
       option_code,
       option_name,
       goods_standard,
       quantity
FROM (
SELECT ROW_NUMBER() OVER (
              ORDER BY TO_NUMBER(REGEXP_SUBSTR(order_detail_code, '\d+')) ASC
       ) AS RN
      ,order_detail_code,
       order_code,
       goods_code,
       goods_name,
       option_code,
       option_name,
       goods_standard,
       quantity
FROM bhf_order_detail
WHERE  order_code = #{orderCode}
)
WHERE RN BETWEEN #{start} AND #{end}

</select>

<select id="getCountOfBhfOrderDetail" parameterType="BhfOrderDTO" resultType="int">
SELECT COUNT(*) FROM bhf_order_detail
WHERE  order_code = #{orderCode}

</select>


<!-- 주문과 발주 상세 정보를 삽입하는 프로시저 호출 -->
<insert id="insertBsnOrder" statementType="CALLABLE">
call insert_Bsn_Order( 
              #{orderCode}, 
              #{branchOfficeId}, 
              #{orderDate}, 
              #{dueDate}, 
              #{employeeNum}, 
              #{companyNum}, 
              #{remark},
              #{orderDetails, typeHandler=com.beauty1nside.bsn.OrdDtlArrayTypeHandler}
) 
</insert>

<!-- 발주요청 거부사유를 입력하고 취소 -->
<update id="updateCancelBhfOrder" parameterType="BhfOrderDTO">
UPDATE bhf_order
SET    order_cancel_reason = #{orderCancelReason}, 
       PROGRESS_STATUS = '취소'
WHERE  order_code = #{orderCode}
</update>


</mapper>