<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.beauty1nside.bsn.mapper.BsnOrderMapper">


<!-- 발주 신청 조회 -->
<select id="selectBhfOrder" resultType="BhfOrderDTO">
--	SELECT ORDER_CODE
--      ,branch_office_id
--      ,order_date
--      ,due_date
--      ,remark
--      ,company_num
--	FROM BHF_ORDER
--	WHERE progress_status = '신청'
-- 		AND   company_num = 14
--	ORDER BY order_date 
-- desc

SELECT ORDER_CODE
      ,branch_office_id
      ,order_date
      ,due_date
      ,remark
      ,company_num
FROM (
SELECT /*+ INDEX_DESC(BHF_ORDER ORDER_CODE) */ 
      ROWNUM RN
      ,ORDER_CODE
      ,branch_office_id
      ,order_date
      ,due_date
      ,remark
      ,company_num
FROM BHF_ORDER
WHERE progress_status = '신청'
-- AND   company_num = 14
<![CDATA[
AND ROWNUM <= #{end}
]]>
) WHERE RN >= #{start}

ORDER BY order_date, due_date

</select>

<select id="getCountOfBhfOrder" resultType="int">
SELECT COUNT(*) FROM BHF_ORDER
WHERE progress_status = '신청'
-- AND   company_num = 14

</select>



</mapper>