<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.beauty1nside.stdr.mapper.StdrDeptMapper">
	<select id="hqDeptList" resultType="com.beauty1nside.hr.dto.DeptDTO">
		select * from hr_department
		where company_num = #{companyNum} and department_name like '%팀'
	</select>
</mapper>