.menu {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    margin-right: 20px;
    > span {
        margin: 0 10px;
    }
}

nav {
    padding: 20px;
    display: flex;
    justify-content: center;
    > div {
        width: 80%;
    }
    .nav {
        width: 200px;
        &:hover {
            border-radius: 8px;
        }
    }
    .nav-link {
        i {
            margin-bottom: 2px;
        }
    }
}
nav a {
    margin: 0 20px;
    text-decoration: none;
    color: #4a4a4a;
    font-size: 16px;
    font-weight: 500;
    transition: color 0.3s, transform 0.2s;
}
nav a:hover {
    font-weight: 800;
    color: #3f3e91;
    text-decoration: auto !important;
    border-radius: 8px;
}

 .selected {
     font-weight: bold;
     background-color: #3f3e91;
     color: white !important;
     padding: 8px 20px;
     border-radius: 8px;
 }

 .hide {
     display: none !important;
 }

 .mymenu {
     margin: 0;
     &:hover {
         transform: none;
     }
 }

 .mypage {
     margin: 20px 0 0 0;
 }

 .empId {
     background-color: #4747A1;
     color: white;
     border-radius: 8px;
     padding: 6px 10px;
     margin: 20px 0 0 20px;
 }

 .navbar-dropdown {
     padding: 20px 0 0 0;
 }

 form {
     a > input {
         outline: none;
         border: none;
         background-color: transparent;
         padding: 0;

     }
     &:hover {
         a > input {
             font-weight: 800;
         }
     }

 }

 .dropdown-toggle {
     > img {
         object-fit: cover;
     }
 }
