<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<body>
<nav th:fragment="navbar" class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
  <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
    <a class="navbar-brand brand-logo mr-5" href="/"><img src="/images/serping_logo.png" class="mr-2" alt="logo"/></a>
    <a class="navbar-brand brand-logo-mini" href="/"><img src="/images/serping_logo_mini.png" alt="logo"/></a>
  </div>
  <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
    <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
      <span class="icon-menu"></span>
    </button>
    <nav class="menu">
      <a th:href="@{/standard/doc(menu='standard')}" data="standard"
         th:classappend="${#strings.equals('standard', param.menu)} ? 'selected' : ''">기준정보</a>
      <a th:href="@{/bsn/order/List(menu='sales')}" data="sales"
         th:classappend="${#strings.equals('sales', param.menu)} ? 'selected' : ''">영업</a>
      <a th:href="@{/purchs/goodsRegister(menu='inventory')}" data="inventory"
         th:classappend="${#strings.equals('inventory', param.menu)} ? 'selected' : ''">재고</a>
      <a th:href="@{/hr/employee(menu='hr')}" data="hr"
         th:classappend="${#strings.equals('hr', param.menu)} ? 'selected' : ''">인사</a>
      <a th:href="@{/(menu='account')}" data="account"
         th:classappend="${#strings.equals('account', param.menu)} ? 'selected' : ''">회계</a>
      <a th:href="@{/bhf/order(menu='branch')}" data="branch"
         th:classappend="${#strings.equals('branch', param.menu)} ? 'selected' : ''">지점</a>
    </nav>

    <ul class="navbar-nav navbar-nav-right">
      <li class="nav-item nav-profile dropdown">
        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="profileDropdown">
          <img th:src="${session.profileImage}" alt="profile"
               onerror="this.onerror=null; this.src='/file/image/mypage/profile/noProfileImg.jpg';"/>
        </a>
        <div class="dropdown-menu dropdown-menu-right navbar-dropdown" style="padding-top: 20px" aria-labelledby="profileDropdown">
          <span th:inline="text" sec:authentication="name" class="empId"></span>
          <a class="dropdown-item mymenu mypage" data="mypage" th:href="@{/mypage/profile(menu='mypage')}">
            <i class="mdi mdi-account-circle"></i>
            마이페이지
          </a>
          <form id="logoutForm" th:action="@{/logout}" method="post">
            <a class="dropdown-item mymenu" onclick="document.getElementById('logoutForm').submit(); return false;">
              <i class="mdi mdi-logout"></i>
              로그아웃
            </a>
          </form>
          <a th:classappend="${#authorization.expression('isAuthenticated()')} ? 'hide'" href="/login">
            <i class="ti-power-off text-primary"></i>
            로그인
          </a>

        </div>
      </li>
      <li class="nav-item nav-settings d-none d-lg-flex">
        <a class="nav-link" href="#">
          <i class="icon-ellipsis"></i>
        </a>
      </li>
    </ul>
    <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
      <span class="icon-menu"></span>
    </button>
  </div>
</nav>
</body>
</html>