<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
<meta charset="UTF-8">
<!-- timePicker -->
<link rel="stylesheet" href="https://uicdn.toast.com/tui.time-picker/latest/tui-time-picker.css" />
<script src="https://uicdn.toast.com/tui.time-picker/latest/tui-time-picker.js"></script>

<!-- datePicker -->
<link rel="stylesheet" href="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.css" />
<script src="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.js"></script>


<!-- paging -->
<link rel="stylesheet" href="https://uicdn.toast.com/tui.pagination/latest/tui-pagination.css" />
<script src="https://uicdn.toast.com/tui.pagination/latest/tui-pagination.js"></script>

<!-- toast grid -->
<link rel="stylesheet" href="https://uicdn.toast.com/grid/latest/tui-grid.css" />
<script src="https://uicdn.toast.com/grid/latest/tui-grid.js"></script>

<!-- 엑셀 -->
<script lang="javascript" src="https://cdn.sheetjs.com/xlsx-0.20.2/package/dist/xlsx.full.min.js"></script>


<title>자산관리</title>
</head>
<body>
	<div id="grid"></div>
	<div id="pagination" class="tui-pagination"></div>
	
<script>
	var Grid = tui.Grid;
	
	const dataSource = {
		api: {
			readData: { url: 'http://localhost:81/accnut/rest/listTest', method: 'GET' },
			
		},
		contentType: 'application/json'
			
	};
	
	const grid = new Grid({
		el : document.querySelector('#grid'),
		pageOptions: {
			useClient : true,
			perPage: 5,
		},
		columns: [
			{ header : "자산코드", name : "assetsCode",  },
			{ header : "자산명", name : "assetsName",  },
			{ header : "구분", name : "section",  },
			{ header : "금융기관", name : "financialInstitution",  },
			{ header : "결제정보", name : "financeInformation",  },
			{ header : "소유주", name : "owner",  },
			{ header : "금액", name : "amount",  },
			{ header : "등록일", name : "registerDate",  },
			
		],
		data : dataSource,
	});

</script>
	
</body>

</html>