<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><meta charset="UTF-8"></head>
<body>    
    
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
    
    <script type="text/javascript">
    document.querySelector('#assetaddModal').addEventListener('shown.bs.modal', (e) => {
    	console.log(e);
    	let footer = document.querySelector('#assetaddModal').querySelector('.modal-footer');
        if (!footer.querySelector('.insertbtn')) {
        	let btn = footer.querySelector('.btn-secondary');
            let html = `<button type="button" class="btn btn-success insertbtn" data-bs-dismiss="modal">등록</button>`;
            btn.insertAdjacentHTML("beforebegin", html);	
        }
    });

    document.querySelector('#assetaddModal').addEventListener('hidden.bs.modal', () => {
        document.querySelectorAll('.insertbtn').forEach(btn => {
            btn.remove();
        })
    });
    
    </script>
</body>
</html>
