<!DOCTYPE html>
<html layout:decorate="~{layouts/layout}"
      lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>거래대장 등록</title>
</head>
<body layout:fragment="content">
  <div class="container">
    <!-- 메뉴이름 -->
		<div>
			<h2>거래대장 등록</h3>
		</div>

    <!-- 등록 grid -->
     <div class="grid-content">
      <div class="row">
        <div class="col-11"></div>
        <button type="button" class="btn btn-primary col-1" id="addBtn">행추가</button>
      </div>
      <div id="grid"></div>
     </div>
     <hr>
     <!-- 하단 버튼 -->
      <div class="underBtn row">
        <div class="col-4"></div>
        <div class="col-4 row">
          <div class="col-1"></div>
          <button type="button" class="btn btn-secondary col-4">초기화</button>
          <div class="col-2"></div>
          <button type="button" class="btn btn-success col-4">등록</button>
          <div class="col-1"></div>
        </div>
        <div class="col-4"></div>
      </div>

  </div>

  <script>
    document.addEventListener("DOMContentLoaded",()=>{
  
    })
    var Grid = tui.Grid;
    
    const dataSource = {
      api: {
        
        
      },
      contentType: 'application/json'
        
    };
    
    const grid = new Grid({
      el : document.querySelector('#grid'),
      pageOptions: {
        useClient : true,
        perPage: 10,
      },
      columns: [
        { header : "구분", name : "section",  editor: "text"},
        { header : "거래방법", name : "typesOfTransaction",  editor: "text"},
        { header : "금액", name : "amount",  editor: "text"},
        { header : "부가세여부", name : "vatAlternative",  editor: "text"},
        { header : "거래내용", name : "dealingsContents",  editor: "text"},
        { header : "거래일", name : "dealDate",  editor: "text"},
        
      ],
      data : [
        {"section" : "", "typesOfTransaction" : "", "amount" : "", "vatAlternative" : "", "dealingsContents" : "", "dealDate" : "", "amount" : "" },
        {"section" : "", "typesOfTransaction" : "", "amount" : "", "vatAlternative" : "", "dealingsContents" : "", "dealDate" : "", "amount" : "" },
        {"section" : "", "typesOfTransaction" : "", "amount" : "", "vatAlternative" : "", "dealingsContents" : "", "dealDate" : "", "amount" : "" },
        {"section" : "", "typesOfTransaction" : "", "amount" : "", "vatAlternative" : "", "dealingsContents" : "", "dealDate" : "", "amount" : "" },
        {"section" : "", "typesOfTransaction" : "", "amount" : "", "vatAlternative" : "", "dealingsContents" : "", "dealDate" : "", "amount" : "" },
        {"section" : "", "typesOfTransaction" : "", "amount" : "", "vatAlternative" : "", "dealingsContents" : "", "dealDate" : "", "amount" : "" },
        {"section" : "", "typesOfTransaction" : "", "amount" : "", "vatAlternative" : "", "dealingsContents" : "", "dealDate" : "", "amount" : "" },
        {"section" : "", "typesOfTransaction" : "", "amount" : "", "vatAlternative" : "", "dealingsContents" : "", "dealDate" : "", "amount" : "" },
        {"section" : "", "typesOfTransaction" : "", "amount" : "", "vatAlternative" : "", "dealingsContents" : "", "dealDate" : "", "amount" : "" },
        {"section" : "", "typesOfTransaction" : "", "amount" : "", "vatAlternative" : "", "dealingsContents" : "", "dealDate" : "", "amount" : "" },
      ],
    });
  
  </script>
</body>
</html>