<!DOCTYPE html>
<html layout:decorate="~{layouts/layout}"
      lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>거래대장 조회</title>
</head>
<body layout:fragment="content">
	<div class="container">
		<!-- 메뉴이름 -->
		<div>
			<h2>거래대장 조회</h3>
		</div>

    <!-- 검색창 -->
		<div class="search-grid">
			<div class="row 1row">
				<div class="col-1"></div>
				<div class="col-5 row ">
					<span class="label-search col-4">거래내용</span>
					<input type="text" name="dealingsContents" id="dealingsContents" class="col-8 input-box">
				</div>
				<div class="col-1"></div>
				<div class="col-5 row ">
					<span class="label-search col-4">구분</span>
					<select name="section" id="section" class="col-8 input-box">
						<option value="" selected>구분</option>
						<option value="EE01">수익</option>
						<option value="EE02">지출</option>
						<option value="EE03">자산</option>
						<option value="EE04">부채</option>

					</select>
				</div>
			</div>
			<div class="row 2row">
				<div class="col-1"></div>
				<div class="col-5 row ">
					<span class="label-search col-4">거래방법</span>
					<select name="typesOfTransaction" id="typesOfTransaction" class="col-8 input-box">
						<option value="" selected>거래방법</option>
						<option value="AC01">현금</option>
						<option value="AC03">카드</option>
						<option value="AC02">이체(통장)</option>
						<option value="AC08">미지급금</option>
						<option value="AC09">외상매입금</option>
						<option value="AC13">임대보증금</option>
						<option value="AC16">매출액</option>
						<option value="AC19">급여</option>
						<option value="AC23">운반비</option>

					</select>
				</div>
        <div class="col-1"></div>
				<div class="col-5 row ">
					<span class="label-search col-4">작성일</span>
					<input type="date" name="dealDate" id="dealDate" class="col-8 input-box">
				</div>
			</div>
			<div class="row 4row">
				<div class="col-1"></div>
				<div class="col-5 row ">
					<span class="label-search col-4">표시수량</span>
					<select name="display_amount" id="display_amount" class="col-8 input-box" onchange="changeDisplay()">
						<option value="5" selected>5</option>
						<option value="10">10</option>
						<option value="20">20</option>
						<option value="50">50</option>
						<option value="100">100</option>
					</select>
				</div>
			</div>
			<div class="row 3row">
				<div class="col-4"></div>
				<button type="button" class="btn btn-primary col-1" onclick="search()">검색</button>
				<div class="col-1"></div>
				<button type="button" class="btn btn-secondary col-1" onclick="reset()">초기화</button>
			</div>

		</div>
		<!-- 그리드 -->
		<div id="table-container">
			<div id="grid"></div>
			<div id="pagination" class="tui-pagination"></div>
		</div>
    <!-- 하부 버튼 -->
		<div class="button-bar row">
			<div class="col-1"></div>
			<button type="button" class="btn btn-primary col-1">Excel</button>
			<button type="button" class="btn btn-secondary col-1">PDF</button>
			<div class="col-7"></div>
		</div>
	</div>

<script>
	document.addEventListener("DOMContentLoaded",()=>{

	})
	var Grid = tui.Grid;
	
	const dataSource = {
		api: {
			readData: { url: 'http://localhost:81/accnut/rest/book/list', method: 'GET', initParams: { page: 1 } },
			
		},
		contentType: 'application/json'
			
	};
	
	const grid = new Grid({
		el : document.querySelector('#grid'),
		pageOptions: {
			useClient : false,
			perPage: 5,
		},
		columns: [
			{ header : "거래코드", name : "dealingsAccountBookCode",  },
      { header : "구분", name : "section",  },
      { header : "거래방법", name : "typesOfTransaction",  },
      { header : "금액", name : "amount",  },
      { header : "부가세여부", name : "vatAlternative",  },
      { header : "거래내용", name : "dealingsContents",  },
      { header : "작성일", name : "dealDate",  },
			
		],
		data : dataSource,
	});
	
	function changeDisplay() {
		let gap = parseInt(document.querySelector('#display_amount').value);
		grid.setPerPage(gap, dataSource);
	}
	
	function search(){
		let dealingsContents = document.querySelector('#dealingsContents').value;
		let section = document.querySelector('#section').value.toString();
		let typesOfTransaction = document.querySelector('#typesOfTransaction').value.toString();
		let dealDate = document.querySelector('#dealDate').value;
		if(dealDate == ''){
			grid.setRequestParams({"dealingsContents" : dealingsContents, "section" : section, "typesOfTransaction" : typesOfTransaction });
		} else {
			grid.setRequestParams({"dealingsContents" : dealingsContents, "section" : section, "typesOfTransaction" : typesOfTransaction, "dealDate" : dealDate  });
		}
		grid.readData();
	}
	
	function reset(){
		let dealingsContents = document.querySelector('#dealingsContents').value = '';
		let section = document.querySelector('#section').value = '';
		let typesOfTransaction = document.querySelector('#typesOfTransaction').value = '';
		let dealDate = document.querySelector('#dealDate').value = '';
		grid.setRequestParams({"dealingsContents" : dealingsContents, "section" : section, "typesOfTransaction" : typesOfTransaction });
		grid.readData();
	}

</script>
	
</body>

</html>