<!DOCTYPE html>
<html layout:decorate="~{layouts/layout}"
      lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>급여 처리</title>
</head>
<body layout:fragment="content">
	<div class="container">
		<!-- 메뉴이름 -->
		<div>
			<h2>급여 처리</h2>
		</div>

    <!-- 검색창 -->
		<div class="search-grid">
			<div class="row 1row">
				<div class="col-1"></div>
				<div class="col-5 row ">
					<span class="label-search col-4">직원</span>
					<input type="text" name="employeeName" id="employeeName" class="col-8 input-box">
				</div>
				<div class="col-1"></div>
				<div class="col-5 row ">
					<span class="label-search col-4">부서</span>
					<select name="department" id="department" class="col-8 input-box">
						<option value="" selected>부서</option>
						<option value="1">회사</option>
						<option value="2">별로</option>
						<option value="3">부서</option>
						<option value="4">달라</option>
						<option value="5">추후</option>
						<option value="6">출력</option>

					</select>
				</div>
			</div>
			<div class="row 2row">
				<div class="col-1"></div>
				<div class="col-5 row ">
					<span class="label-search col-4">표시수량</span>
					<select name="display_amount" id="display_amount" class="col-8 input-box" onchange="changeDisplay()">
						<option value="5" selected>5</option>
						<option value="10">10</option>
						<option value="20">20</option>
						<option value="50">50</option>
						<option value="100">100</option>
					</select>
				</div>
			</div>
			<div class="row 3row">
				<div class="col-4"></div>
				<button type="button" class="btn btn-primary col-1" onclick="search()">검색</button>
				<div class="col-1"></div>
				<button type="button" class="btn btn-secondary col-1" onclick="reset()">초기화</button>
			</div>

		</div>
		<!-- 그리드 -->
		<div id="table-container">
			<div id="grid"></div>
			<div id="pagination" class="tui-pagination"></div>
		</div>
    <!-- 하부 버튼 -->
		<div class="button-bar row">
			<div class="col-1"></div>
			<button type="button" class="btn btn-secondary col-2 btnPayment" data-bs-toggle="modal" data-bs-target="#salaryModal">일괄처리</button>
			<div class="col-7"></div>
		</div>
		
		
		<!-- 자산 등록 -->
		<div th:replace="purchs/ModalTemplate :: ModalTemplate (
						    	'salaryModal', 
						    	'modal-lg', 
						    	'일괄 처리', 
						    	'accnut/salaryBody',
						    	'accnut/salaryFooter'
						    )"></div>
		
		
	</div>

<script>
	document.addEventListener("DOMContentLoaded",()=>{
		btndisabled();
	})
	
	var checkArray = [];
	
	var Grid = tui.Grid;
	
	const dataSource = {
		api: {
			readData: { url: 'http://localhost:81/accnut/rest/salary/list', method: 'GET', initParams: { page: 1 , } },
			
		},
		contentType: 'application/json'
			
	};
	
	var grid = new Grid({
		el : document.querySelector('#grid'),
		pageOptions: {
			useClient : false,
			perPage: 5,
		},
		rowHeaders: ['checkbox'],
		columns: [
			{ header : "직원", name : "employeeName",  },
      { header : "부서", name : "department",  },
      { header : "급여", name : "salary",  },
      { header : "초과수당", name : "excessAllowance",  },
      { header : "보너스", name : "bonus",  },
      { header : "부대비용", name : "incidentailCost",  },
      { header : "공제항목", name : "deductionItem",  },
      { header : "지급금액", name : "paymentAmount",  },
		],
		data : dataSource,
	});
	
	function changeDisplay() {
		let gap = parseInt(document.querySelector('#display_amount').value);
		grid.setPerPage(gap, dataSource);
		checkArray = [];
	}
	
	function search(){
		let employeeName = document.querySelector('#employeeName').value;
		let department = document.querySelector('#department').value.toString();
		grid.setRequestParams({"employeeName" : employeeName, "department" : department });
		grid.readData();
		checkArray = [];
	}
	
	function reset(){
		let employeeName = document.querySelector('#employeeName').value = '';
		let department = document.querySelector('#department').value = '';
		grid.setRequestParams({"employeeName" : employeeName, "department" : department });
		grid.readData();
		checkArray = [];

	}
	
// grid 체크 박스 함수로 데이터 제어
	
	
	
	grid.on('check', (ev)=> {
		checkArray.push(grid.getRow(ev.rowKey));
		//console.log(checkArray);
		btndisabled();
	})
	
	grid.on('uncheck', (ev)=>{
		for(let i = 0; i < checkArray.length; i++){
			if(checkArray[i].rowKey == ev.rowKey){
				checkArray.splice(i, 1);
			}
		}
		//console.log(checkArray);
		btndisabled();
	})
	
	grid.on('checkAll', (ev) => {
		checkArray = grid.getData();
		//console.log(checkArray);
		btndisabled();
	})
	
	grid.on('uncheckAll', (ev) => {
		checkArray = [];
		//console.log(checkArray);
		btndisabled();
	})
	
	function btndisabled() {
	//console.log(checkArray.length);
		if(checkArray.length > 0){
			document.querySelector('.btnPayment').removeAttribute('disabled');	
		} else {
			document.querySelector('.btnPayment').setAttribute('disabled', 'true');
		}
	}
	/*
	*/

</script>
	
</body>

</html>