<!DOCTYPE html>
<html layout:decorate="~{layouts/layout}"
      lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>매출 조회</title>
<!-- 데이트 피커 css
<style>
.tui-datepicker-input{
	padding: 0;
}
.tui-datepicker{
	z-index: 100;
}
#datepicker-input{
	padding-left: 18px;
	padding-top: 0;
	padding-bottom: 0; 
	font-size: 16px;
}
</style>
 -->
</head>
<body layout:fragment="content">
	<div class="container">
		<!-- 메뉴이름 -->
		 <div>
			 <h2>매출 조회</h2>
		 </div>

		<!-- 검색창 -->
		<div class="search-grid">
			<!-- 검색창 첫줄 -->
			<div class="row 1row">
				<div class="col-1"></div>
				<!-- 자산명 인풋 -->
				<div class="col-5 row ">
					<span class="label-search col-4">지점</span>
					<select name="officeId" id="officeId" class="col-8 input-box">
						<option value="" selected>전체</option>

					</select>
				</div>
				<div class="col-1"></div>
				<!-- 구분 인풋 -->
				<div class="col-5 row ">
					<span class="label-search col-4">시작일</span>
					<input type="date" name="startDate" id="startDate" class="col-8 input-box">
					<!-- 데이트 피커 주기 변경
					<span class="label-search col-4">주기</span>
					<select name="perdate" id="perdate" class="col-8 input-box">
						<option value="date" selected>일별</option>
						<option value="month">월별</option>
						<option value="year">년별</option>

					</select>
					 -->
				</div>
			</div>
			<!-- 검색창 두번째 줄 -->
			<div class="row 2row">
				<div class="col-1"></div>
				<!-- 금융기관 인풋 -->
				<div class="col-5 row ">
					<span class="label-search col-4">상품</span>
					<input type="text" name="optCode" id="optCode" class="col-8 input-box" data-bs-toggle="modal" data-bs-target="#optSearchModal">
				</div>
				<div class="col-1"></div>
				
				<div class="col-5 row ">
					<span class="label-search col-4">종료일</span>
					<input type="date" name="endDate" id="endDate" class="col-8 input-box">
					<!-- 데이트 피커
					<span class="label-search col-4">날짜</span>
				        <div class="tui-datepicker-input tui-datetime-input tui-has-focus col-8">
		            		<input type="text" id="datepicker-input" name="resultDate" aria-label="Date-Time" class="input-box">
		            		<span class="tui-ico-date"></span>
		        		</div>	
		       			<div id="wrapper" style="margin-top: -1px; z-index: 100; position: static"></div>
					  -->
				</div>
			</div>
			<div class="row 4row">
				<div class="col-1"></div>
				<!-- 그리드 표시 수량 인풋 -->
				<div class="col-5 row ">
					<span class="label-search col-4">표시수량</span>
					<select name="display_amount" id="display_amount" class="col-8 input-box" onchange="changeDisplay()">
						<option value="5" selected>5</option>
						<option value="10">10</option>
						<option value="20">20</option>
						<option value="50">50</option>
						<option value="100">100</option>
					</select>
				</div>
			</div>
			<!-- 검색 버튼 줄 -->
			<div class="row 3row">
				<div class="col-4"></div>
				<button type="button" class="btn btn-primary col-1" onclick="search()">검색</button>
				<div class="col-1"></div>
				<button type="button" class="btn btn-secondary col-1" onclick="reset()">초기화</button>
			</div>

		</div>
		<!-- 그리드 -->
		<div id="table-container">
			<div id="grid"></div>
			<div id="pagination" class="tui-pagination"></div>
		</div>
		<!-- 하부 버튼 -->
		<div class="button-bar row">
			<div class="col-1"></div>
			<button type="button" class="btn btn-primary col-1 btnExcel">Excel</button>
			<button type="button" class="btn btn-secondary col-1">PDF</button>
			<div class="col-7"></div>
		</div>
		<!-- 상품 검색 모달 -->
		<div th:replace="purchs/modal/ModalTemplate :: ModalTemplate (
						    	'optSearchModal', 
						    	'', 
						    	'상품 검색', 
						    	'accnut/optSearchBody', 
						    	'accnut/optSearchFooter'
						    )"></div>
		<!-- 매출 상세 모달 -->
		<div th:replace="purchs/modal/ModalTemplate :: ModalTemplate (
						    	'sellDetailModal', 
						    	'modal-xl', 
						    	'매출 상세', 
						    	'accnut/sellDetailBody', 
						    	'accnut/sellDetailFooter'
						    )"></div>
		
	</div>
<script th:inline="javascript">
	
	var session = sessionData;
	console.log("세션",session);

	document.addEventListener("DOMContentLoaded",()=>{
		getInfo();
		downExcel();
		//changeDate();
		getBhf();
	});
	
	// 데이트피커
	/*
	var datepicker = new tui.DatePicker('#wrapper', {
        //date: new Date(),
        type:'date',
        input: {
            element: '#datepicker-input',
            format: 'yyyy-MM-dd'
        }
    });
	*/
	
	// 그리드
	var Grid = tui.Grid;
	
	const dataSource = {
		api: {
			readData: { url: 'http://localhost:81/accnut/rest/selling/list', method: 'GET', initParams: { page: 1 , companyNum: session.companyNum }},
			
		},
		contentType: 'application/json'
			
	};
	const grid = new Grid({
		el : document.querySelector('#grid'),
		pageOptions: {
			useClient : false,
			perPage: parseInt(document.querySelector('#display_amount').value) ,
		},
		columns: [
			{ header : "일자", name : "resultDate",  sortable : true, width: 150},
			{ header : "지점명", name : "officeId",  sortable : true},
			{ header : "판매량", name : "sellQy",  sortable : true},
			{ header : "조정량", name : "minusQy",  sortable : true},
			//{ header : "금액", name : "price",  sortable : true},
			{ header : "판매금액", name : "totalPrice",  sortable : true},
			{ header : "상세보기", name : "detail", formatter : () => '<button class="btn btn-warning btn-sm btnInfo" data-bs-toggle="modal" data-bs-target="#sellDetailModal">상세보기</button>', align: 'center'},
			
		],
		data : dataSource,
	});
	
	// 함수
	function changeDisplay() {
		let gap = parseInt(document.querySelector('#display_amount').value);
		grid.setPerPage(gap,dataSource);
	}

	function search(){
		let officeId = document.querySelector('#officeId').value;
		let optCode = document.querySelector('#optCode').value;
		let startDate = document.querySelector('#startDate').value;
		let endDate = document.querySelector('#endDate').value;
		
		let params = {};
		
		params.officeId = officeId;
		params.optionCode = optCode;
		if(startDate != '') params.startDate = startDate;
		if(endDate != '') params.endDate = endDate;
		
		grid.setRequestParams(params);
		//grid.setRequestParams({"officeId" : officeId, "optionCode" : optCode, "startDate" : startDate, "endDate" : endDate , "page" : 1});
		grid.readData();
	}
	
	function reset(){
		let officeId = document.querySelector('#officeId').value = '';
		let optCode = document.querySelector('#optCode').value = '';
		let startDate = document.querySelector('#startDate').value = '';
		let endDate = document.querySelector('#endDate').value = '';
		grid.setRequestParams({"officeId" : officeId, "optionCode" : optCode });
		grid.readData();
	}
	

	function getInfo(){
		// 처음에 가져왔을때 실행
		clickFn()
		// 검색 진행 했을 때 => 그리드 업데이트 되었을 때
		grid.on("onGridUpdated", () =>{
			clickFn()
		})
	}
	
	var rowData = [];
	
	function clickFn() {
		document.querySelectorAll('.btnInfo').forEach((btn, idx) => {
			btn.addEventListener("click", () => {
				rowData = grid.getRow(idx);
			})
		})
	}
	
	function downExcel(){
		let btnExcel = document.querySelector('.btnExcel');
		btnExcel.addEventListener("click", function () {
		       const options = {
		         				includeHiddenColumns: true,
		         				//onlySelected: true,
		         				fileName: 'asset',
		       					};
		       grid.export('xlsx', options);
	     })
	}
	
	// 데이트피커 주기 변경 
	/* 
	function changeDate(){
		document.querySelector("#perdate").addEventListener("change", (e)=>{
			// 데이트피커 타입 변경
			datepicker.setType(e.target.value);
			let result = "";
			
			// perdate의 값에 따라 데이트피커 변경할 포맷 설정
			switch(e.target.value){
			case "date"  : result = "-dd";
			case "month" : result = "-MM" + result;
			case "year"  : result = "yyyy" + result;
						   break;
			default      : break;
			
			}
			// 데이트피커 포맷 변경, 값도 변경
			datepicker.setDateFormat(result);
			datepicker.setDate(null);
		})
	}
	*/
	
	function getBhf(){
		const header = document.querySelector('meta[name="_csrf_header"]').content;
        const token = document.querySelector('meta[name="_csrf"]').content;
		
		fetch(`http://localhost:81/accnut/rest/bhf/list?companyNum=${session.companyNum}`, {
			method: "GET",
			headers: {
					 	'header': header,
			                "Content-Type": "application/json",
			                'X-CSRF-Token': token				
			 		}
		}).then(response => response.json())
		.then(data => {
			//console.log(data);
			let officeId = document.querySelector("#officeId");
			for(bhf of data.result){
				let html = `<option value="${bhf.bhfName}">${bhf.bhfName}</option>`;
				officeId.insertAdjacentHTML("beforeend", html);
			}
		});
	}
	

</script>
	
</body>

</html>