<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.beauty1nside.chat.mapper.ChatMapper">

    <select id="empList" resultType="com.beauty1nside.hr.dto.EmpDTO">
        select *
        from HR_EMPLOYEE
        where company_num = #{companyNum}
    </select>

    <select id="getChatRoom" parameterType="com.beauty1nside.chat.dto.RoomDTO">
        SELECT *
        FROM grpwr_chat_room
        WHERE (employee_num1 = #{employeeNum1} AND employee_num2 = #{employeeNum2})
           OR (employee_num1 = #{employeeNum2} AND employee_num2 = #{employeeNum1})
    </select>

    <insert id="insertChatRoom" parameterType="com.beauty1nside.chat.dto.RoomDTO">
        INSERT INTO grpwr_chat_room (
            room_id,
            company_num,
            employee_num1,
            employee_num2
        ) VALUES (
                     GRPWR_CAHT_ROOM_SEQ.nextval,
                     #{companyNum},
                     #{employeeNum1},
                     #{employeeNum2}
                 )
    </insert>

    <select id="getRoomJustMade" resultType="com.beauty1nside.chat.dto.RoomDTO">
        SELECT
            room_id,
            company_num,
            employee_num1,
            employee_num2
        FROM grpwr_chat_room
        where room_id = (SELECT MAX(room_id) FROM grpwr_chat_room)
    </select>

    <select id="getMsgJustSent" resultType="com.beauty1nside.chat.dto.MessageDTO">
        SELECT
            g.msg_id,
            g.room_id,
            g.employee_num,
            g.msg_content,
            g.send_date,
            h.employee_name
        FROM grpwr_chat_message g
                 join hr_employee h on g.employee_num = h.employee_num
        WHERE g.room_id = #{roomId} and
            msg_id = (SELECT MAX(msg_id) FROM grpwr_chat_message)
    </select>

    <insert id="insertMsg"
            parameterType="com.beauty1nside.chat.dto.MessageDTO"
            >
        INSERT INTO grpwr_chat_message (
            msg_id,
            room_id,
            employee_num,
            msg_content,
            send_date
        ) VALUES (
                     GRPWR_CAHT_MESSAGE_SEQ.nextval,
                     #{roomId},
                     #{employeeNum},
                     #{msgContent},
                     sysdate
                 )
    </insert>

    <select id="getMsgList">
        select g.MSG_ID,
               g.ROOM_ID,
               g.EMPLOYEE_NUM,
               g.MSG_CONTENT,
               g.SEND_DATE,
               h.employee_name
        from grpwr_chat_message g
            join hr_employee h on g.employee_num = h.employee_num
        where room_id = #{roomId}
        order by g.send_date asc
    </select>
</mapper>