
.card {
    background-color: white;
    border-radius: 10px;
}

.table {
    margin-top: 10px;
}

.page-link {
    color: white;
    background-color: #002d72;
    border-color: #002d72;
}

.page-item.active .page-link {
    background-color: #0047ab;
    border-color: #0047ab;
}

.filter-btn.active {
    background-color: #0047ab;
    color: white;
}
