
.card {
    background-color: white;
    border-radius: 10px;
}

.table {
    margin-top: 10px;
}

.page-link {
    color: white;
    background-color: #002d72;
    border-color: #002d72;
}

.page-item.active .page-link {
    background-color: #0047ab;
    border-color: #0047ab;
}

.status-label {
    display: inline-block;
    padding: 4px 8px;
    border-radius: 5px;
    color: white;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}

.move-btn {
    border: none;
    > i{
        font-size: 20px;
        padding-left: 10px;
    }
}

.profile {
    display: flex;
    background: white;
    padding: 40px 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    justify-content: space-around;
    .form-group {
        margin-bottom: 30px;
        > .flex {
            display: flex;
            align-items: center;
            > span {
                margin: 0 10px;
            }
        }
    }
    label {
        font-weight: bold;
    }
    input[type="text"], input[type="email"], input[type="number"] {
        width: 100%;
        padding: 8px;
        margin-top: 5px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }
    .profile-img {
        width: 400px;
        height: 400px;
        background-color: #eee;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        font-size: 50px;
    }
    .radio-group {
        display: flex;
        gap: 10px;
        align-items: center;
    }

}
