<!DOCTYPE html>
<html
        layout:decorate="~{layouts/layout}"
      lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:sec=""
>
<head>
  <link rel="stylesheet" href="/vendors/ti-icons/css/themify-icons.css">
</head>
<body layout:fragment="content">
<input type="hidden" id="sessionEmployeeNum" th:value="${session.employeeNum}"/>
  <div class="row">
    <div class="col-md-12 grid-margin">
      <div class="row">
        <div class="col-12 col-xl-8 mb-4 mb-xl-0">
          <div sec:authorize="isAuthenticated()">
            환영합니다. <span sec:authentication="name" class="h4"></span>님!
          </div>
        </div>
      </div>
    </div>
  </div>

  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">일정</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">결재</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact-tab-pane" type="button" role="tab" aria-controls="contact-tab-pane" aria-selected="false">Contact</button>
    </li>
  <!--  <li class="nav-item" role="presentation">-->
  <!--    <button class="nav-link" id="disabled-tab" data-bs-toggle="tab" data-bs-target="#disabled-tab-pane" type="button" role="tab" aria-controls="disabled-tab-pane" aria-selected="false" disabled>Disabled</button>-->
  <!--  </li>-->
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
      <div class="row">
        <p id="clicked-event"></p>
        <div id="calendar" style="height: 600px;">
        </div>

      </div>
    </div>
    <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
      <div class="row approval">
        <div class="container">
          <div class="search-grid">
            <div class="row">
              <div class="">
                <label class="label-search col-4" for="documentType">요청 구분</label>
                <select name="documentType" id="documentType" class="col-8 input-box">
                  <option value="" selected>선택</option>
                </select>
              </div>
              <div class="">
                <span class="label-search col-4">요청 날짜</span>
                <input type="date" id="inApprovalRequestDateStart" class="col-8 input-box"/>~
                <input type="date" id="inApprovalRequestDateEnd" class="col-8 input-box"/>
              </div>
            </div>
            <div class="row">
              <div class="">
                <label class="label-search col-4" for="employeeName">요청자</label>
                <input type="text" name="employeeName" id="employeeName" class="col-8 input-box">
              </div>
              <div class="">
                <label class="label-search col-4" for="display_amount">표시수량</label>
                <select name="display_amount" id="display_amount" class="col-8 input-box" onchange="changeDisplay()">
                  <option value="5">5</option>
                  <option value="10" selected>10</option>
                  <option value="20">20</option>
                  <option value="50">50</option>
                  <option value="100">100</option>
                </select>
              </div>
            </div>
            <div class="row btn-box">
              <button type="button" class="btn btn-primary col-1" onclick="search()">검색</button>
              <button type="button" class="btn btn-secondary col-1" onclick="reset()">초기화</button>
            </div>

          </div>
          <!-- 그리드 -->
          <div id="table-container">
            <div id="grid"></div>
            <div id="pagination" class="tui-pagination"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="contact-tab-pane" role="tabpanel" aria-labelledby="contact-tab" tabindex="0">
      ...
    </div>
    <div class="tab-pane fade" id="disabled-tab-pane" role="tabpanel" aria-labelledby="disabled-tab" tabindex="0">
      ...
    </div>
  </div>
  <script src="/js/mainpage/calendar.js"></script>
  <script src="/js/mainpage/approval.js"></script>

</body>

</html>
