<!DOCTYPE html>
<html layout:decorate="~{/erp/layouts/usermain}">

<main class="main" layout:fragment="usercontent">

    <!-- Page Title -->
    <div class="page-title accent-background">
      <div class="container d-lg-flex justify-content-between align-items-center">
        <h1 class="mb-2 mb-lg-0">구독금액</h1>
        <nav class="breadcrumbs">
          <ol>
            <li><a href="/">홈</a></li>
            <li class="current">금액</li>
          </ol>
        </nav>
      </div>
    </div><!-- End Page Title -->

    <!-- Pricing Section -->
    <section id="pricing" class="pricing section">

      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-4" data-aos="zoom-in" data-aos-delay="100">
            <div class="pricing-item">
              <h3>기본 구독</h3>
              <p class="description">사용하고 싶은 기간에 맞게 결제하여 사용</p>
              <h4>60,000<sup>원</sup><span> / 30일</span></h4>
              <a href="#" class="cta-btn">지금 시작하기</a>
              <p class="text-center small">모든 결제 수단 가능</p>
              <ul>
                <li><i class="bi bi-check"></i> <span>사내 그룹웨어 관리(50명)</span></li>
                <li><i class="bi bi-check"></i> <span>제품 발주 및 입고 관리</span></li>
                <li><i class="bi bi-check"></i> <span>상품 이동 및 출고 관리</span></li>
                <li><i class="bi bi-check"></i> <span>기본적인 인사/회계 관리</span></li>
                <li class="na"><i class="bi bi-x"></i> <span>세부적인 인사/회계 관리</span></li>
                <li class="na"><i class="bi bi-x"></i> <span>직영점포 관리</span></li>
                <li class="na"><i class="bi bi-x"></i> <span>그룹웨어 인원 증가(100명, 무제한)</span></li>
              </ul>
            </div>
          </div><!-- End Pricing Item -->

          <div class="col-lg-4" data-aos="zoom-in" data-aos-delay="200">
            <div class="pricing-item featured">
              <p class="popular">Popular</p>
              <h3>정기 구독</h3>
              <p class="description">매달 자동 결제로 편한 구독 관리</p>
              <h4>52,800<sup>$</sup><span> / 매달</span></h4>
              <a href="#" class="cta-btn">지금 시작하기</a>
              <p class="text-center small">계좌 및 카드 가능</p>
              <ul>
                <li><i class="bi bi-check"></i> <span>사내 그룹웨어 관리(50명)</span></li>
                <li><i class="bi bi-check"></i> <span>제품 발주 및 입고 관리</span></li>
                <li><i class="bi bi-check"></i> <span>상품 이동 및 출고 관리</span></li>
                <li><i class="bi bi-check"></i> <span>기본적인 인사/회계 관리</span></li>
                <li class="na"><i class="bi bi-x"></i> <span>세부적인 인사/회계 관리</span></li>
                <li class="na"><i class="bi bi-x"></i> <span>직영점포 관리</span></li>
                <li class="na"><i class="bi bi-x"></i> <span>그룹웨어 인원 증가(100명, 무제한)</span></li>
              </ul>
            </div>
          </div><!-- End Pricing Item -->

          <div class="col-lg-4" data-aos="zoom-in" data-aos-delay="300">
            <div class="pricing-item">
              <h3>각종 부가서비스</h3>
              <p class="description">사용 유/무에 맞게 추가 결제</p>
              <h4>FREE<sup>원</sup><span> / 30일</span></h4>
              <a href="#" class="cta-btn">지금 시작하기</a>
              <p class="text-center small">기간 결제 및 정기 결제 가능</p>
              <ul>
                <li><i class="bi bi-check"></i> <span>100명 그룹웨어 월 30,000원</span></li>
                <li><i class="bi bi-check"></i> <span>무제한 그룹웨어 월 60,000원</span></li>
                <li><i class="bi bi-check"></i> <span>모든 인사관리 월 15,000원</span></li>
                <li><i class="bi bi-check"></i> <span>모든 회계관리 월 15,000원</span></li>
                <li><i class="bi bi-check"></i> <span>모든 지점관리 월 15,000원</span></li>
              </ul>
            </div>
          </div><!-- End Pricing Item -->

        </div>

      </div>

    </section><!-- /Pricing Section -->

  </main>