<!DOCTYPE html>
<html layout:decorate="~{/erp/layouts/usermain}">

<main class="main" layout:fragment="usercontent">
    <!-- Page Title -->
    <div class="page-title accent-background">
      <div class="container d-lg-flex justify-content-between align-items-center">
        <h1 class="mb-2 mb-lg-0">Beauty1nside</h1>
        <nav class="breadcrumbs">
          <ol>
            <li><a href="/erp/main">홈</a></li>
            <li class="/erp/team">개발진</li>
          </ol>
        </nav>
      </div>
    </div><!-- End Page Title -->

    <!-- Team Section -->
    <section id="team" class="team section">

      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
            <div class="team-member">
              <div class="member-img">
                <img src="/templates/erp/assets/img/team/team-1.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href="https://github.com/hayeon8521" target="blank"><i class="bi bi-github"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>표하연</h4>
                <span>팀장 Git ERP서비스</span>
              </div>
            </div>
          </div><!-- End Team Member -->

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
            <div class="team-member">
              <div class="member-img">
                <img src="/templates/erp/assets/img/team/team-2.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href="https://github.com/Your0770" target="blank"><i class="bi bi-github"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>최시훈</h4>
                <span>부팀장 CI 회계/통계</span>
              </div>
            </div>
          </div><!-- End Team Member -->

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
            <div class="team-member">
              <div class="member-img">
                <img src="/templates/erp/assets/img/team/team-3.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href="https://github.com/seozzini" target="blank"><i class="bi bi-github"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>배서진</h4>
                <span>WAS 인사</span>
              </div>
            </div>
          </div><!-- End Team Member -->

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400">
            <div class="team-member">
              <div class="member-img">
                <img src="/templates/erp/assets/img/team/team-4.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href="https://github.com/soon823" target="blank"><i class="bi bi-github"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>권순범</h4>
                <span>DBsub 지점</span>
              </div>
            </div>
          </div><!-- End Team Member -->
          
          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400">
            <div class="team-member">
              <div class="member-img">
                <img src="/templates/erp/assets/img/team/team-5.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href="https://github.com/Dayoung3460" target="blank"><i class="bi bi-github"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>김다영</h4>
                <span>DEV 그룹웨어</span>
              </div>
            </div>
          </div><!-- End Team Member -->
          
          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400">
            <div class="team-member">
              <div class="member-img">
                <img src="/templates/erp/assets/img/team/team-6.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href="https://github.com/MyBFMoti" target="blank"><i class="bi bi-github"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>이신화</h4>
                <span>CIsub 영업</span>
              </div>
            </div>
          </div><!-- End Team Member -->
          
          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400">
            <div class="team-member">
              <div class="member-img">
                <img src="/templates/erp/assets/img/team/team-7.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href="https://github.com/yunngna" target="blank"><i class="bi bi-github"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>권나윤</h4>
                <span>DB 제품</span>
              </div>
            </div>
          </div><!-- End Team Member -->

        </div>

      </div>

    </section><!-- /Team Section -->

  </main>